@media (max-width: 650px) {
    .title_blog{
        display: block;
    }
}
@media (max-width: 1080px) and (min-width: 1024px) {
    header .row_2 .full_menu .content nav > ul > li > a{
        font-size: 12px !important;
    }
    .home .choice ul li a{
        max-width: 100%;
    }
    .prateleira ul li article .price .installment{
        font-size: 13px;
    }
    .home #blog ul li a .content h2 {
        font-size: 14px;
    }
    .home #blog ul li a .image img {
        width: 165px;
    }
    .home #blog ul li a .content p {
        font-size: 10px;
    }
    .home #blog ul li a .content {
        margin: 0;
    }
    footer .row_1 #news .text h2{
        font-size: 30px;
    }
    footer .row_1 #news .text p{
        font-size: 14px;
    }
    footer .row_2 .columns{
        justify-content: flex-start;
    }
    footer .row_2 .columns .column{
        width: 33%;
    }
    footer .row_2 .columns .column_4, footer .row_2 .columns .column_5{
        margin-top: 40px;
    }
    .departamento .main .vitrine .prateleira ul li,
    .prateleira ul li{
        width: calc((100% / 4) - 10px);
    }
    .produto main .box_compre_junto .columns .column.column_1 .prateleira ul li{
        width: calc((100% / 3) - 10px) !important;
    }
}