.simulador{
    overflow-x: hidden;
    width: 100vw;
    .col-xs-12{
        width: 100%;
    }
    div[class^='painel'], section[class^="painel"]{
        width: 100%;
        display: none !important;
        min-height: calc(100vh - 160px);
        h2{
            margin: 25px 0;
            text-transform: uppercase;
            color: #273a60;
            line-height:40px;
            font-size:32px;
            font-weight: 600;
        }
        p{
            display: block;
            margin-top: 40px;
            font-size: 18px;
            line-height: 30px;
            color: rgba(0,0,0,0.65);
        }
        .button{
            cursor: pointer;
            background: #f35321;
            padding: 10px 15px 10px 15px;
            color: #fff;
            font-size: 16px;
            margin-top: 30px;
            display: block;
            letter-spacing: 0.65px;
            &.next{
                &::after{
                    content: "\f061";
                    font-family: "Font Awesome 5 Free";
                    margin-left: 8px;
                    position: relative;
                    top: 1px;
                }
            }
            span{
                font-family: Roboto,sans-serif;
                font-weight: 500;
            }
            &:hover{
                background: #273a60;
            }
        }
        .back{
            margin-top: 30px;
        }
        .next + .back{
            margin-top: 10px;
        }
        .column_1, .column_2{
            width: 50%;
        }  
        .column_1{
            background: #fff;
            padding: 100px 60px 100px 0px;
            position: relative;
            &::before{
                content: '';
                background: #fff;
                position: absolute;
                right: 0;
                width: 110vw;
                height: 100%;
                top: 0;
                display: block;
                z-index: -1;
            }
        }
        .etapas{
            margin-bottom:10px;
            font-weight:700;
            font-size:16px;
            font-weight: 500;
        }
    }
    section[class^="painel"]{
        &.active{
            display: block !important;
        }  
    }
    div[class^='painel']{
        &.active{
            display: flex !important;
        }    
    }
    .paineis{
        position: relative;
        &.active{
            &::before{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: -1;
                background-image: url("/arquivos/painel_001.jpg");
                background-size: cover;
                background-position: bottom right;
            }
            &.active-01{
                &::before{
                    background-image: url("/arquivos/painel_002.png") !important;
                }
            }
            &.active-02{
                &::before{
                    background-image: url("/arquivos/painel_003.png") !important;
                    background-position: bottom right -240px;
                }
            }
            &.active-03{
                &::before{
                    background-image: url("/arquivos/painel_004.png") !important;
                    background-position: 300px bottom;
                } 
            }
            &.active-04{
                &::before{
                    background-image: url("/arquivos/painel_005.png") !important;
                    background-position: 300px bottom;
                } 
            }
        }
    }
    .painel-form{
        h3{
            margin-top: 35px;
        }
        h4{
            margin-top: 15px;
            color: #273a60;
            font-weight: bold;
            span{
                color: #f35321;
                font-weight: bold;
            }
        }
        .form{
            margin: 25px 0;
            input{
                width: 100%;
                background: #E2E3E6;
                padding: 12px 15px;
                margin: 10px 0;
                color: #273a60;
                font-weight: 600;
            }
            input[type="submit"]{
                display: inline-block !important;
                width: auto !important;
                color: #fff !important;
                background-color: #f35321;
                position: relative;
                left: 100%;
                transform: translateX(-100%);
                padding: 12px 30px;
                font-size: 16px;
            }
        }  
    }
    .painel-resumo{
        background-image: url('https://www.automower.com.br/wp-content/themes/husqvarna/img/p-simulador/2733596794.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        &:before{
            background:#000000;
            position:absolute;
            opacity:.75;
            height:100%;
            width:100%;
            content:"";
            z-index: 0;
            left:0;
            top:0
        }
        .column_1{
            background: transparent !important;
        }
        h2, h3, p{
            color: #fff !important;
        }
        h2{
            font-size: 15px !important;
            margin-bottom: 10px !important;
        }
        h3{
            font-size: 38px !important;
            font-weight: 800;
            text-transform: uppercase;
        }
        .next{
            margin-bottom: 20px;
        }

    }
    .painel-resultado{
        position: relative;
        &.active{
            &::before{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: -1;
                background-image: url("https://www.automower.com.br/wp-content/themes/husqvarna/img/p-simulador/3453231492.jpg");
                background-size: cover;
                background-position: bottom right -450px;
            }
        }
        .column_1{
            text-align: center !important;
            padding: 60px 60px 100px 0px !important;
        }
        .box{
            display:  none;
            background: #E2E3E6;
            padding: 30px;
            margin-bottom: 25px;
            > h2{
                font-size: 28px !important;
                margin-bottom: 35px !important;
            }
            .name{
                margin: 25px 0;
                text-transform: uppercase;
                color: #273a60;
                line-height:40px;
                font-size:32px;
                font-weight: 600;
            }
            .button{
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
            .price-content{
                p{
                    font-size: 25px;
                    font-weight: bold;
                    color: #f35321;

                }
                a{
                    cursor: pointer;
                    background: #f35321;
                    padding: 10px 15px 10px 15px;
                    color: #fff;
                    font-size: 16px;
                    margin-top: 30px;
                    display: inline-block;
                    letter-spacing: 0.65px;
                    font-weight: 600;
                }
            }
        }
        &.box1{
            .box-1{
                display: block !important;
            }
            table .am310{
                display: none !important;
            }
        }
        &.box2{
            .box-2{
                display: block !important;
            }
            table .am105{
                display: none !important;
            }
        }
        .formulario{
            margin-top: 35px;
            h4{
                margin-top: 15px;
                color: #273a60;
                font-weight: bold;
                span{
                    color: #f35321;
                    font-weight: bold;
                }
            }
            .form{
                margin: 25px 0;
                input{
                    width: 100%;
                    background: #E2E3E6;
                    padding: 12px 15px;
                    margin: 10px 0;
                    color: #273a60;
                    font-weight: 600;
                }
                input[type="submit"]{
                    display: inline-block !important;
                    width: auto !important;
                    color: #fff !important;
                    background-color: #f35321;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 12px 30px;
                    font-size: 16px;
                }
            }
        }
        .precos{
            background: #E2E3E6;
            padding: 30px;
            margin-bottom: 55px;
            div > div > p{
                margin-top: 0px !important;
            }
            div > div > h4 {
                text-transform: uppercase;
                color: #273a60;
                margin: 0px 0;
                line-height: 32px;
                font-size: 25px;
                font-weight: 600;
            }
            div > div > h4 + p{
                margin-top: 15px !important;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 25px;
            }
            table{
                border-collapse: collapse;
                width: 100%;
                p{
                    margin-top: 0px !important;
                }
                > thead{
                    background: #273a60;
                    > tr{
                        > td{
                            padding: 3px 0;
                            font-size: 14px !important;
                            color: #fff;
                        }
                    }
                }
                > tbody{
                    > tr{
                        width: 100%;
                        &:nth-of-type(odd){
                            background: #fff;
                        }
                        &:nth-of-type(even){
                            background: #273a60;
                            p, td{
                                color: #fff !important
                            }
                        }
                        &:last-of-type(){
                            margin-bottom: 0;
                        }
                        > td{
                            font-size: 16px;
                            padding: 5px;
                            > p{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    .painel-inclinacao {
        .column_1{
            .list-simulador{
                li:nth-child(2){
                    img{
                        min-width: 80px;
                    }
                }
            }
        }
    }
    .range{
        position: relative;
        margin-top: 80px;
        margin-bottom: 30px;
        input, div{
            width: 100%;
        }
        p{
            position: absolute;
            top: -105px;
            left: 50%;
            transform: translateX(-50%);
            margin: 0;
        }
        div{
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
        }
        input{
            background-image: url("https://www.automower.com.br/wp-content/themes/husqvarna/img/p-simulador/icon/6936307021.jpg");
            -webkit-appearance: none;
            -webkit-transition: .2s;
            transition: opacity .2s;
            margin-bottom: 32px;
            background: #d3d3d3;
            border-radius: 5px;
            outline: none;
            height: 10px;
            width: 100%;
        }
        input::-webkit-slider-thumb{
            background-image: url("https://www.automower.com.br/wp-content/themes/husqvarna/img/p-simulador/icon/6936307021.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 40px 40px;
            border: solid 1px #273a60;
            -webkit-appearance: none;
            background-color: #fff;
            border-radius: 50%;
            appearance: none;
            cursor: pointer;
            height: 60px;
            width: 60px;
        }
        input::-moz-range-thumb{
            background-image: url("https://www.automower.com.br/wp-content/themes/husqvarna/img/p-simulador/icon/6936307021.jpg");
            cursor: pointer;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 40px 40px;
            border: solid 1px #273a60;
            -webkit-appearance: none;
            background-color: #fff;
            border-radius: 50%;
            appearance: none;
            cursor: pointer;
            height: 60px;
            width: 60px;
        }
    }
    h3.help{
        font-weight:700;
        color:#f35321;
        font-size:16px;
        cursor:pointer;
        margin-top: 10px;
        margin-bottom: 15px;
        .fas:before{
            content: "\f059";
        }
    }
    .help_display{
        border:solid 1px rgba(0,0,0,0.05);
        background:#E2E3E6;
        display:none;
        padding:15px;
        &.open{
            display: block;
        }
        h4{
            font-weight: 700;
            font-size: 15px;
            margin-bottom: 8px;
        }
        p{
            margin: 0 !important;
            font-size: 14px !important;
            line-height: 24px !important;
        }
    }
    .list-simulador {
        margin-top: 25px;
        li{
            margin-bottom: 19px;
            display: flex;
            align-items: center;
            cursor: pointer;
            img{
                min-width: 60px;
                height: auto;
            }
            span{
                margin-left: 15px;
                font-size: 23px;
                line-height: 33px;
                color: #273a60;
                font-weight: 300;
            }
            &:hover{
                filter: brightness(1) invert(0.4);
            }
        }
    }
    @media (max-width: 991px) {
        div[class^='painel'], section[class^="painel"]{
            .column_1{
                width: 100%;
                padding: 60px 15px 60px 15px !important;
            }  
            .column_2{
                display: none !important;
            }
        }
        .painel-resultado{
            .box{
                background: #E2E3E6;
                padding: 15px;
                margin-bottom: 25px;
                > h2{
                    font-size: 23px !important;
                    line-height: 31px !important;
                }
                .name{
                    font-size: 27px !important;
                }
            }
            .precos{
                padding: 15px !important;
            }
        }
        .paineis{
            &.active{
                &::before{
                    background-image: none !important

                }
                &.active-02{
                    &::before{
                        background-image: none !important
                    }
                }
                &.active-03{
                    &::before{
                        background-image: none !important
                    } 
                }
            }
        }
    }
}