.atendimento {
    .breadCrumb {
        background: #F5F5F5;

        ul {
            display: flex;

            li {

                font-family: 'Husqvarna Gothic';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 16px;
                display: flex;
                align-items: center;
                color: #5C5C5C;
                margin-right: 13px;
                padding: 10px 0;

                &:nth-child(3) {
                    font-weight: bold;
                }
            }
        }
    }

    .first {
        .col-12 {
            position: unset;
        }

        .first {
            display: flex;
            align-items: center;

            .left {
                max-width: 420px;

                h2 {
                    font-family: 'Husqvarna Gothic';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 40px;
                    text-transform: uppercase;
                    color: #000000;
                    margin-bottom: 25px;
                }

                p {
                    font-family: 'Husqvarna Gothic';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 32px;
                    color: #000000;

                    a {
                        text-decoration: underline;
                        color: #163861;
                    }
                }
            }

            .right {
                height: 420px;

                img {
                    position: absolute;
                    width: 780px;
                    height: auto;
                    display: block;
                    max-width: 780px;
                    transform: translatex(-100%);
                    left: 100%;
                }
            }
        }
    }

    .third {
        display: none;
    }
}