.bread_crumb {
    margin-bottom:20px;
    background-color: #F5F5F5;

    ul {
        display: flex;
        text-transform: uppercase;
        font-size: 10px;
        padding: 10px 0;

        @media screen and (max-width:$mobile) {
            font-size: 8px;
            padding-top: 10px;
        }

        li {
            &:before {display: none;}
            
            &.last {
                font-weight: bold;
            }
            
            &:after {
                content: '/';
                margin: 0 15px;
                font-size: 10px;
            }

            &:last-child {
                &:after {
                    opacity: 0;
                }
            }
        }
    }
}