.departamento {
    &.resultado-busca {
        .filtros {
            display: none;
        }
    }

    .bread_crumb {
        margin-bottom: 0;
    }

    .banner {
        .titulo-sessao {
            margin: 15px 0;
            font-size: 30px;
            font-weight: bold;
            line-height: 35px;
            text-align: center;
            color: $cor-principal;

            @media screen and (max-width:$mobile) {
                font-size: 20px;
            }
        }

        .box-banner {
            a {
                img {
                    @media screen and (min-width:$mobile) {
                        position: relative;
                        left: 50%;
                        // margin-left: -960px;
                        transform: translatex(-50%);
                        max-width: 150%;
                    }

                    @media screen and (max-width:$mobile) {
                        width: calc(100% + 30px);
                        margin-left: -15px;
                        height: auto;
                    }
                }
            }
        }
    }

    .filtros {
        padding: 15px 0 5px;
        background-color: #F3F3F3;

        .head {
            @media screen and (max-width:$mobile) {
                ul {
                    display: flex;
                    justify-content: space-evenly;

                    li {
                        a {
                            display: flex;
                            align-items: center;

                            i {
                                margin-right: 7px;
                            }
                        }
                    }
                }
            }
        }

        .navigation-tabs {
            @media screen and (max-width:$mobile) {
                position: fixed;
                bottom: -100%;
                right: 0;
                z-index: 12;
                width: 100%;
                height: 80%;
                overflow: scroll;
                background-color: #fff;
                transition: bottom 300ms;

                &.active {
                    bottom: 0;
                }

                .close_filtros {
                    float: right;
                    @include close;
                    margin: 15px 15px 0;
                }
            }
            
            .menu-departamento {
                .menu-navegue,
                .search-single-navigator {
                    display: none !important;
                }

                .search-multiple-navigator {
                    display: flex !important;
                    
                    @media screen and (min-width:$mobile) {
                        margin: 0 -5px;
                        flex-wrap: wrap;
                    }

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        flex-direction: column;

                        &:before {
                            z-index: -1;
                            font-size: 22px;
                            font-weight: bold;
                            text-align: center;
                            margin: -30px 0 15px;
                            color: $cor-principal;
                            content: 'Filtre sua busca';
                        }
                    }

                    h3,
                    h4,
                    .bt-refinar {
                        display: none;
                    }

                    fieldset {
                        width: 220px;
                        height: auto;
                        position: relative;
                        background-color: #fff;

                        @media screen and (max-width:$mobile) {
                            width: 95%;
                            margin: 0 auto;
                            border-bottom: 1px solid #000;
                        }

                        &:not(:last-child) {
                            margin: 0 5px 10px 5px;
                        }

                        &.filtro_,
                        &.refino-marca {
                            display: none;
                        }

                        h5 {
                            display: flex;
                            padding: 0 10px;
                            cursor: pointer;
                            align-items: center;
                            justify-content: space-between;

                            @media screen and (min-width:$mobile) {
                                height: 40px;
                                font-size: 15px;
                                font-weight: 300;
                                line-height: 40px;

                                &.active {
                                    &:after {
                                        margin-top: 0;
                                        transform: rotate(225deg);
                                    }
                                }

                                &:after {
                                    content: '';
                                    width: 10px;
                                    height: 10px;
                                    margin-top: -4px;
                                    display: inline-block;
                                    transition: all 300ms;
                                    transform: rotate(45deg);
                                    border-right: 1px solid black;
                                    border-bottom: 1px solid black;
                                }
                            }

                            @media screen and (max-width:$mobile) {
                                height: 60px;
                                display: flex;
                                font-size: 20px;
                                font-weight: 400;
                                line-height: 60px;
                                align-items: center;
                                justify-content: space-between;

                                &.active {
                                    &:after {
                                        content: '-';
                                    }
                                }

                                &:after {
                                    content: '+';
                                }
                            }

                            &+div {
                                display: none;

                                @media screen and (min-width:$mobile) {
                                    z-index: 1;
                                    width: 100%;
                                    position: absolute;
                                    background-color: white;
                                    border-bottom: 1px solid #dcdcdc;
                                }

                                label {
                                    padding: 8px;
                                    display: flex;
                                    align-items: center;

                                    @media screen and (max-width:$mobile) {
                                        &:last-child {
                                            padding-bottom: 30px;
                                        }
                                    }

                                    input {
                                        width: 15px;
                                        height: 15px;
                                        cursor: pointer;
                                        margin-right: 7px;
                                        position: relative;

                                        &:checked {
                                            &:after {
                                                background-color: $cor-principal;
                                            }
                                        }

                                        &:after {
                                            content: '';
                                            width: 100%;
                                            height: 100%;
                                            display: block;
                                            border-radius: 3px;
                                            transition: all 300ms;
                                            background-color: #fff;
                                            border: 1px solid $cor-principal;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .menu {
        display: flex;
        padding: 20px 0;
        align-items: center;

        @media screen and (max-width:$mobile) {
            flex-wrap: wrap;
        }

        #product_length {
            margin-right: 15px;
            padding-right: 15px;
            border-right: 1px solid #dcdc;

            span {
                font-weight: bold;
            }
        }

        .tags {
            display: flex;
            align-items: center;
            
            @media screen and (min-width:$mobile) {
                margin-right: 20px;
            }

            @media screen and (max-width:$mobile) {
                width: 100%;
                flex-direction: column-reverse;
            }

            ul {
                display: flex;
                align-items: center;

                @media screen and (max-width:$mobile) {
                    width: 100%;
                    flex-wrap: wrap;
                    padding-top: 20px;
                    justify-content: space-between;
                }

                &:empty {
                    & + .clear {
                        opacity: 0;
                        visibility: hidden;
                    }
                }

                li {
                    height: 30px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    padding: 0 10px;
                    border-radius: 3px;
                    color: $cor-principal;
                    justify-content: space-between;
                    border: 1px solid $cor-principal;

                    @media screen and (min-width:$mobile) {
                        &:not(:last-child) {
                            margin-right: 10px;
                        }
                    }

                    @media screen and (max-width:$mobile) {
                        width: 49%;
                        margin-bottom: 7px;
                    }

                    p {
                        max-width: 90%;
                        font-size: 12px;
                        overflow: hidden;
                        margin-right: 10px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }

            .clear {
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-left: 15px;

                @media screen and (max-width:$mobile) {
                    width: 100%;
                    margin-top: -25px;
                    justify-content: flex-end;
                }

                &.active {
                    opacity: 1;
                    visibility: visible;
                }

                img {
                    width: 15px;
                    height: auto;
                    margin-left: 7px;
                }
            }
        }
    }

    .main {
        .searchResultsTime {
            display: none;
        }

        .sub {

            .orderBy,
            .filterBy,
            .compare {
                display: none;
            }

            .orderBy {
                @media screen and (max-width:$mobile) {
                    display: block;
                    position: fixed;
                    width: 100%;
                    height: 50%;
                    right: 0;
                    z-index: 12;
                    bottom: -100%;
                    padding: 15px;
                    background-color: #fff;
                    transition: bottom 300ms;

                    &.active {
                        bottom: 0;
                    }

                    .close_filtros {
                        float: right;
                        @include close;
                        margin-bottom: -30px;
                    }

                    label {
                        font-size: 22px;
                        margin: 0 0 30px;
                        font-weight: bold;
                        text-align: center;
                        color: $cor-principal;
                    }

                    select {
                        width: 100%;
                        height: 40px;
                        display: block;
                        border: 1px solid #dcdcdc;
                    }
                }
            }
        }

        .vitrine {
            .pager {
                display: none;
            }

            .prateleira {
                margin-top: 0;

                ul {
                    li {
                        @media screen and (max-width: 1124px) {
                            padding: 0;
                            margin-bottom: 10px;
                            width: calc((100% / 2) - 10px);
                            margin: 0 5px;
                        }
                    }
                }
            }
        }

        .btn-load-more {
            width: 300px;
            height: 55px;
            line-height: 55px;
            font-size: 22px;
            color: white;
            cursor: pointer;
            margin: 20px auto;
            text-align: center;
            background-color: #3D3D3D;
        }
    }

    .text_seo {
        padding: 20px 0;
        margin: 20px 0 40px;
        border-top: 1px solid #dcdcdc;

        p {
            font-size: 14px;
            line-height: 16px;
            text-align: center;
        }
    }
}