.erro {
    main {
        article {
            padding: 100px 0;
            text-align: center;

            figure {
                img {
                    max-width: 100%;
                    height: auto;
                }

                figcaption {
                    font-size: 60px;
                    line-height: 70px;
                    font-weight: bold;
                    text-align: center;
                    color: $cor-principal;
                }
            }

            h2 {
                font-size: 24px;
                font-weight: bold;
                margin: 20px 0 40px;
                color: $cor-principal;
            }

            form {
                fieldset {
                    >p {
                        font-size: 22px;
                        font-weight: normal;
                    }

                    div {
                        &.input {
                            width: 540px;
                            height: 45px;
                            display: flex;
                            margin: 15px auto 0;
                            background-color: #f4f4f4;

                            @media screen and (max-width:$mobile) {
                                width: 100%;
                            }

                            input {
                                height: 100%;
                                background-color: transparent;

                                &[type="text"] {
                                    width: 90%;
                                    text-indent: 20px;
                                }

                                &[type="submit"] {
                                    width: 10%;
                                    height: 30px;
                                    font-size: 0;
                                    margin-top: 6px;
                                    cursor: pointer;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    border-left: 1px solid #dcdcdc;
                                    background-image: url(/arquivos/ico-lupa.png);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}