.pop_up {
    display: block;
    width: 480px;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -240px;
    z-index: 12;
    padding: 15px;
    border-radius: 4px;
    transition: opacity 300ms;
    background-color: $cor-principal;

    opacity: 0;
    visibility: hidden;

    .close {
        height: 0;
        top: -40px;
        right: -15px;
        display: block;
        cursor: pointer;
        text-align: right;
        position: relative;
        font-weight: bold;
        color: $cor-secundaria;
    }

    //CEP
    &.cep {
        margin-top: -62.5px;
    }

    //CAPTAÇÃO DE EMAIL - CEP NÃO ATENDIDO
    &.email {
        margin-top: -129px;
    }

    //VALE A PENA INVESTIR EM BATERIA?
    &.bateria {
        max-width: 380px;
        margin-left: -190px;
        
        .content {
            a {
                display: block;
                height: 30px;
                line-height: 30px;
                margin-top: 10px;
                font-weight: bold;
                text-align: center;
                color: $cor-principal;
                text-transform: uppercase;
                background-color: white;
            }
        }
    }

    //AVISO SOBRE A COMPRA
    &.compra {
        margin-top: -145px;

        .head {
            height: 0px;
            text-align: right;

            .close {
                font-size: 18px;
                text-transform: uppercase;
            }
        }

        i {
            display: block;
            text-align: center;
        }

        .content {
            p {
                color: white;
                margin-top: 20px;

                @media screen and (min-width:$iphone5) {
                    font-size: 16px;
                }

                span {
                    display: block;

                    a {
                        font-weight: bold;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }

            ul {
                display: block;
                margin-top: 20px;
                text-align: center;

                li {
                    display: inline-block;

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        text-align: center;
                    }

                    a {
                        width: auto;
                        height: 30px;
                        margin: 5px;
                        padding: 0 15px;
                        line-height: 30px;
                        text-align: center;
                        display: inline-block;
                        color: $cor-principal;
                        background-color: #fff;
                    }
                }
            }
        }
    }

    @media screen and (max-width:$mobile) {
        width: calc(100% - 30px);
        left: 15px;
        margin: 0;
        top: 30%;
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }

    form {
        fieldset {
            text-align: center;

            label {
                font-size: 20px;
                font-weight: bold;
                line-height: 23px;
                color: #FFFFFF;
                margin-top: -8px;
            }

            .title {
                color: #fff;
                font-size: 22px;
                font-weight: bold;

                span {
                    display: block;
                    line-height: 24px;
                }
            }

            .description {
                color: #fff;
                font-size: 16px;
                font-weight: 400;
                margin: 10px 0;
            }

            >div {
                width: 100%;
                height: 50px;
                display: flex;
                border-radius: 3px;
                align-items: center;
                justify-content: center;
                background-color: #fff;

                input {
                    background-color: #fff;


                    &[type="text"],
                    &[type="email"] {
                        width: 75%;
                        height: 100%;
                        text-indent: 40px;
                    }

                    &[name="cep"] {
                        background-position: 10px;
                        background-repeat: no-repeat;
                        background-image: url(/arquivos/ico-pin.png);
                    }

                    &[type="submit"] {
                        width: 25%;
                        height: 60%;
                        color: $cor-secundaria;
                        font-size: 18px;
                        font-weight: bold;
                        cursor: pointer;
                        text-transform: uppercase;
                        border-left: 1px solid #dcdcdc;

                        @media screen and (max-width:$mobile) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

footer {
    @media screen and (max-width:$mobile) {
        overflow: hidden;
    }

    .row_1 {
        padding: 40px 0;
        background-color: #f5f5f5;

        @media screen and (max-width:$mobile) {
            background-color: #fff;
        }

        #news {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            .text {
                width: 45%;
                color: $cor-principal;

                @media screen and (max-width:$mobile) {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                }

                h2 {
                    font-size: 35px;
                    font-weight: bold;

                    @media screen and (max-width:$mobile) {
                        line-height: 35px;
                        margin-bottom: 20px;
                    }
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                }
            }

            .newsletter {
                width: 55%;

                @media screen and (max-width:$mobile) {
                    width: 100%;
                }

                h3 {
                    display: none;
                }

                fieldset {
                    text-align: right;

                    p {
                        display: none;
                    }

                    input {
                        height: 40px;
                        display: inline-block;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            margin-top: 10px;
                        }

                        &[type="text"] {
                            text-indent: 20px;
                            margin-right: 20px;

                            @media screen and (min-width:$mobile) {
                                width: 35%;
                            }

                            @media screen and (max-width:$mobile) {
                                border: 1px solid #dcdcdc;
                                box-shadow: 1px 1px 0px 1px #dcdcdc;
                            }
                        }

                        &[type="button"] {
                            @media screen and (min-width:$mobile) {
                                width: 20%;
                            }

                            color: #fff;
                            cursor: pointer;
                            text-align: center;
                            bottom: -2px;
                            font-size: 20px;
                            font-weight: bold;
                            position: relative;
                            text-transform: uppercase;
                            background-color: #51C828;
                        }
                    }
                }
            }
        }
    }

    .row_2 {
        @media screen and (min-width:$mobile) {
            overflow: hidden;
            padding-top: 30px;
        }

        .columns {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .column {
                .title {
                    font-size: 16px;
                    margin-bottom: 10px;
                    color: $cor-principal;
                    text-transform: uppercase;
                }

                ul {
                    li {
                        margin-top: 10px;
                    }
                }

                &.column_1 {
                    @media screen and (max-width:$mobile) {
                        width: calc(100% + 30px);
                        margin: 0 -15px;
                        padding: 20px 15px;

                        .title {
                            text-align: center;
                            font-weight: bold;
                        }
                    }

                    &.redes_sociais {
                        ul {
                            li {
                                margin-right: 10px;
                            }
                        }
                    }

                    ul {
                        display: flex;
                        align-items: center;

                        @media screen and (max-width:$mobile) {
                            justify-content: center;
                        }

                        li {
                            @media screen and (max-width:$mobile) {
                                margin-top: 0;
                            }
                        }
                    }

                    >address {
                        @media screen and (max-width:$mobile) {
                            text-align: center;
                        }
                    }

                    >address,
                    >a {
                        display: block;
                        color: #474747;
                        margin-top: 25px;

                        strong {
                            display: block;
                        }
                    }
                }

                &.column_2,
                &.column_3 {
                    @media screen and (max-width:$mobile) {
                        width: 50%;
                        margin: 40px 0;

                        .title {
                            font-weight: bold;
                        }
                    }
                }

                &.column_4,
                &.column_5 {
                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        text-align: center;
                    }
                }

                &.column_4,
                &.column_5 {
                    ul {
                        display: flex;
                        align-items: center;
                        margin-bottom: 40px;

                        @media screen and (max-width:$mobile) {
                            justify-content: center;
                        }

                        li {
                            &:not(:last-child) {
                                margin-right: 5px;
                            }
                        }
                    }
                }

                &.column_5 {
                    ul {
                        li {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .copyright {
        margin: 10px 0;
        font-size: 12px;
        color: #828282;
        text-align: center;
    }
}