#barra_frete {
  // display: block;
  display: none !important;
  padding: 7px 0;
  background-color: #0a1e37;

  .content {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    i {
      margin-right: 20px;
    }

    p {
      color: #fff;
      font-weight: normal;
      width: calc(100% - 65px);

      @media screen and (max-width: $mobile) {
        line-height: 15px;
      }
    }

    .status {
      width: 100%;
      height: 7px;
      display: block;
      max-width: 400px;
      overflow: hidden;
      border-radius: 50px;
      background-color: #fff;

      @media screen and (min-width: $mobile) {
        margin: -13px 0 0 65px;
      }

      @media screen and (max-width: $mobile) {
        margin: 5px 0 0 0;
      }

      &>span {
        width: 0%;
        height: 100%;
        display: block;
        transition: all 300ms;
        background-color: #f79e1b;

        &[style="width: 100%;"] {
          background-color: $cor-cta;
        }
      }
    }
  }
}

.fac_bar {
  display: none !important;
  text-align: center;
  background: #000;

  p {
    color: #f96936;
    text-transform: uppercase;
    padding: 6px 0;
    font-weight: 600;
  }

  @media (max-width: 768px) {
    p {
      font-size: 14px;
      padding-top: 31px;
    }
  }
}

body:not(.active) {
  #barra_frete+header {
    position: sticky;
    top: 0;
    z-index: 11;

    &.active {
      z-index: 12;
    }
  }
}

header {
  background-color: #163861;
  padding-bottom: 10px;


  .row_1 {
    color: #fff;
    border-bottom: 2px solid #646981;
    padding: 12px 0;
    background-color: $cor-principal;

    ol,
    ul {
      display: flex;

      @media screen and (min-width: $mobile) {
        align-content: center;
        justify-content: space-between;
      }

      @media screen and (max-width: $mobile) {
        margin: 0 -15px;
        padding: 0 15px;
        overflow-x: auto;
        flex-wrap: nowrap;
        align-items: center;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
      }

      li {
        @media screen and (max-width: $mobile) {
          flex: 0 0 auto;
        }

        a {
          &:hover {
            color: #fff;
          }
        }

        i {
          display: inherit;
          margin-right: 10px;
        }

        &.welcome {
          @media screen and (max-width: $mobile) {
            margin-right: 25px;
          }

          p {
            display: flex;
            align-items: center;
          }
        }

        ol {
          li {
            &:not(:last-child) {
              margin-right: 25px;
            }

            a {
              display: flex;
              align-items: center;

              i {
                height: 15px;
              }
            }
          }
        }
      }
    }

    .welcome {
      img {
        margin-right: 5px;
      }
    }
  }

  .row_2 {
    .columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .column {
        &.column_0 {
          @media screen and (max-width: $mobile) {
            order: 1;
            width: 20%;
            display: flex;
            align-items: center;

            #hamburger {
              width: 100%;
              height: 20px;

              span {
                content: "";
                width: 50%;
                height: 3px;
                display: block;
                background-color: $cor-principal;

                &:nth-child(2) {
                  margin: 6px 0;
                }
              }
            }
          }
        }

        &.column_1 {
          width: 30%;

          @media screen and (max-width: $mobile) {
            width: 60%;
            order: 2;

            img {
              width: 100%;
              height: auto;
            }
          }
        }

        &.column_2 {
          width: 50%;

          @media screen and (max-width: $mobile) {
            width: 100%;
            order: 4;
          }

          form {
            width: 90%;
            height: 100%;
            display: flex;
            align-items: center;

            @media screen and (max-width: $mobile) {
              width: 100%;
              display: none;
            }

            fieldset {
              width: 100%;
              height: 45px;
              background-color: #f4f4f4;
              box-sizing: border-box;

              input {
                height: 100%;
                float: left;
                background-color: transparent;

                &[type="text"] {
                  width: 90%;
                  text-indent: 15px;

                  /* Edge */
                  &::-webkit-input-placeholder {
                    color: #000;
                  }

                  /* Internet Explorer 10-11 */
                  &:-ms-input-placeholder {
                    color: #000;
                  }

                  &::placeholder {
                    color: #000;
                  }
                }

                &[type="submit"] {
                  font-size: 0;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-image: url(/arquivos/ico-lupa.png);
                }
              }

              .close {
                display: none;
                float: left;
                font-size: 21px;
                font-weight: bold;
                text-align: center;
              }

              .close,
              input[type="submit"] {
                width: 10%;
                height: 30px;
                margin-top: 6px;
                cursor: pointer;
                border-left: 1px solid #dcdcdc;
              }
            }

            &.show {
              z-index: 12;
              display: block;
              position: relative;
            }

            //ATIVO - SHOOW
            &.active {
              z-index: 12;
              position: relative;

              input[type="submit"] {
                display: none;
              }

              +.result,
              .close {
                display: block;
              }
            }

            +.result {
              top: 80px;
              left: 0;
              z-index: 12;
              display: none;
              padding: 15px;
              position: absolute;
              background-color: white;

              @media screen and (max-width: $mobile) {
                top: 130px;
                width: 100%;
              }

              @media screen and (min-width: $mobile) {
                left: 15px;
                width: calc(100% - 30px);
              }

              .digitando {
                padding-bottom: 15px;
                border-bottom: 1px solid #dcdcdc;

                p {
                  font-size: 400;

                  a {
                    font-weight: bold;
                  }
                }
              }

              .slider {

                /* width */
                ::-webkit-scrollbar {
                  width: 20px;
                  height: 9px;
                }

                /* Track */
                ::-webkit-scrollbar-track {
                  border-radius: 10px;
                }

                /* Handle */
                ::-webkit-scrollbar-thumb {
                  border-radius: 10px;
                  background-color: transparent;
                }

                ul {
                  display: flex;
                  padding: 0 15px;
                  margin: 0 -15px;
                  overflow-x: auto;
                  min-height: 85px;
                  flex-wrap: nowrap;
                  padding-bottom: 15px;
                  justify-content: initial;
                  -webkit-overflow-scrolling: touch;
                  -ms-overflow-style: -ms-autohiding-scrollbar;

                  &:empty {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url("/arquivos/ajax-loader.gif");
                  }

                  li {
                    width: 100%;
                    height: auto;
                    max-width: 260px;

                    &:not(:last-child) {
                      margin-right: 15px;
                    }

                    a {
                      display: block;

                      .image {
                        height: 230px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                      }

                      .content {
                        h3 {
                          height: 40px;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 17px;
                          overflow: hidden;
                          white-space: nowrap;
                          text-overflow: ellipsis;
                        }

                        .price {
                          font-size: 22px;
                          font-weight: bold;
                          color: $cor-principal;
                        }
                      }
                    }
                  }
                }
              }

              .view {
                height: 30px;
                color: #fff;
                display: block;
                line-height: 30px;
                text-align: center;
                font-weight: bold;
                background-color: $cor-principal;
              }
            }
          }
        }

        &.column_3 {
          width: 20%;

          @media screen and (max-width: $mobile) {
            order: 3;
          }

          .menu_apoio {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
              &.search {
                @media screen and (max-width: $mobile) {
                  display: block;
                }
              }

              .box_account {
                display: flex;
                align-items: center;

                @media screen and (max-width: $mobile) {
                  display: none;
                }

                .text {
                  p {
                    color: #3a3a3a;

                    &.title,
                    &:nth-child(1) {
                      display: flex;
                      align-items: center;
                      font-size: 14px;
                      font-weight: bold;

                      &:after {
                        content: "";
                        width: 8px;
                        height: 8px;
                        display: block;
                        margin-left: 7px;
                        margin-top: -4px;
                        transform: rotate(45deg);
                        border-right: 1px solid $cor-secundaria;
                        border-bottom: 1px solid $cor-secundaria;
                      }
                    }
                  }
                }

                @media screen and (min-width: $mobile) {
                  &:hover {
                    +.hover {
                      display: block;
                    }
                  }
                }

                +.hover {
                  z-index: 1;
                  position: absolute;
                  background: white;
                  border-top: 3px solid $cor-secundaria;

                  &:hover {
                    display: block;
                  }

                  ul {
                    li {
                      a {
                        &:not(.dis-none) {
                          display: block;
                        }

                        height: 40px;
                        line-height: 40px;
                        padding: 0 10px;
                        transition: background-color 300ms;

                        &:hover {
                          background-color: #f5f5f5;
                        }
                      }
                    }
                  }
                }
              }

              #cart {
                width: 50px;
                height: 50px;
                position: relative;
                display: block;

                @media screen and (max-width: $mobile) {
                  width: 40px;
                  height: 40px;
                }

                i {
                  svg {
                    width: 100%;
                    height: 100%;
                  }
                }

                span {
                  position: absolute;
                  top: 3px;
                  right: -6px;
                  width: 20px;
                  height: 20px;
                  line-height: 20px;
                  display: block;
                  border-radius: 50px;
                  text-align: center;
                  color: #fff;
                  background-color: $cor-secundaria;

                  @media screen and (max-width: $mobile) {
                    width: 17px;
                    height: 17px;
                    line-height: 17px;
                    font-style: 13px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .full_menu {
      @media screen and (min-width: $mobile) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: $mobile) {
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        height: 100%;
        z-index: 12;
        transition: left 300ms;

        &.active {
          left: 0;
        }
      }

      .head {
        display: none;

        @media screen and (max-width: $mobile) {
          width: 100%;
          height: 10%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: $cor-principal;
          padding: 0 15px;

          a {
            color: #fff;
            font-size: 22px;
            font-weight: bold;

            &.close {
              width: 30px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              font-weight: bold;
              color: #fff;
              background-color: $cor-secundaria;
            }
          }
        }
      }

      .content {
        @media screen and (max-width: $mobile) {
          height: 60%;
          padding: 0 15px;
          overflow-x: hidden;
          background-color: #fff;
        }

        nav {
          >ul {
            display: flex;

            @media screen and (min-width: $mobile) {
              align-items: center;
              justify-content: space-between;
            }

            @media screen and (max-width: $mobile) {
              flex-direction: column;
            }

            >li {
              position: relative;

              &:nth-last-child(-n + 2) {
                .submenu {
                  right: 0;
                }
              }

              >a {
                text-transform: uppercase;

                @media screen and (min-width: $mobile) {
                  font-weight: bold;
                  color: $cor-principal;

                  &:after {
                    content: "";
                    width: 100%;
                    height: 3px;
                    display: block;
                    border-radius: 3px;
                    transition: background-color 300ms;
                    background-color: #fff;
                  }
                }
              }

              &:hover {
                @media screen and (min-width: $mobile) {
                  >a {
                    &:after {
                      background-color: $cor-secundaria;
                    }
                  }
                }

                .submenu {
                  opacity: 1;
                  visibility: visible;
                }
              }

              .submenu {
                @media screen and (min-width: $mobile) {
                  display: flex;
                  justify-content: space-between;
                  z-index: 1;
                  width: 500px;
                  height: auto;
                  position: absolute;
                  background-color: #fff;
                  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                  padding: 30px;
                  opacity: 0;
                  visibility: hidden;
                  z-index: 14;
                }

                @media screen and (max-width: $mobile) {
                  display: none;
                  height: 150px;
                  overflow-x: hidden;
                }

                .content {
                  width: 50%;

                  @media screen and (max-width: $mobile) {
                    width: 100%;
                  }

                  .column {
                    &:first-child {
                      margin-bottom: 10px;
                    }
                  }

                  ul {
                    li {
                      &:not(:first-child) {
                        a {
                          padding-top: 10px;
                        }
                      }

                      a {
                        display: block;

                        @media screen and (max-width: $mobile) {
                          color: #939393;
                        }
                      }
                    }
                  }
                }

                .image {
                  width: 50%;

                  @media screen and (max-width: $mobile) {
                    display: none;
                  }

                  img {
                    width: 100%;
                    height: auto;
                  }
                }
              }

              @media screen and (max-width: $mobile) {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                >a {
                  padding: 15px 0;
                  display: inline-block;
                  width: auto;
                }

                &.active {
                  &:after {
                    transform: rotate(-135deg);
                  }

                  .submenu {
                    display: block;
                    width: 100%;
                  }
                }

                &:after {
                  content: "";
                  width: 8px;
                  height: 8px;
                  display: block;
                  transition: rotate 300ms;
                  transform: rotate(45deg);
                  border-right: 1px solid $cor-secundaria;
                  border-bottom: 1px solid $cor-secundaria;
                  position: absolute;
                  right: 0;
                  top: 16px;
                }
              }
            }
          }
        }
      }

      .footer {
        display: none;

        @media screen and (max-width: $mobile) {
          display: block;
          height: 30%;
          padding: 15px;
          background-color: #fff;
        }

        ul {
          li {
            margin-bottom: 10px;

            a {
              width: 100%;
              height: 45px;
              display: flex;
              align-items: center;
              color: $cor-principal;
              border: 2px solid $cor-principal;

              i {
                margin: 0 10px;
                display: inherit;

                svg {
                  path {
                    fill: $cor-principal;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .second_menu {
    padding: 5px 0;

    ul {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;

      li {
        flex: 0 0 auto;
        margin-right: 15px;

        a {
          font-weight: bold;
          text-transform: uppercase;
          color: $cor-principal;
        }
      }
    }
  }

  .box_account {
    i {
      margin-right: 10px;
    }

    p {
      color: #fff !important;
      font-size: 13px;
    }
  }

  .columns {
    padding: 20px 0;

    .column_1 {
      img {
        filter: brightness(0) invert(1);
        width: 220px;
      }
    }

    .column_2 form fieldset {
      background: transparent !important;
      border-bottom: 1px solid #f4f4f4 !important;

      .close {
        color: #fff;
        border-left: 0 !important;
      }

      input[type="text"] {
        color: #fff !important;

        &::placeholder {
          color: #fff !important;

        }
      }

      input[type="submit"] {
        background-image: url(/arquivos/husq_header-search.png) !important;
        border: none !important;
      }
    }

    .column.column_3 .menu_apoio li #cart {
      height: 40px !important;
    }
  }

  .full_menu {
    nav {
      &>ul {
        &>li {
          &>a {
            color: #fff !important;

            &:after {
              display: none !important;
            }
          }
        }
      }
    }
  }
}