.home {
    .fac_bar {
        display: none !important;
    }

    header {
        background-color: #163861;
        padding-bottom: 10px;

        .box_account {
            i {
                margin-right: 10px;
            }

            p {
                color: #fff !important;
                font-size: 13px;
            }
        }

        .row_1 {
            border-bottom: 2px solid #646981;
            padding: 12px 0;

            .welcome {
                img {
                    margin-right: 5px;
                }
            }
        }

        .columns {
            padding: 20px 0;

            .column_1 {
                img {
                    filter: brightness(0) invert(1);
                    width: 220px;
                }
            }

            .column_2 form fieldset {
                background: transparent !important;
                border-bottom: 1px solid #f4f4f4 !important;

                .close {
                    color: #fff;
                    border-left: 0 !important;
                }

                input[type="text"] {
                    color: #fff !important;

                    &::placeholder {
                        color: #fff !important;

                    }
                }

                input[type="submit"] {
                    background-image: url(/arquivos/husq_header-search.png) !important;
                    border: none !important;
                }
            }

            .column.column_3 .menu_apoio li #cart {
                height: 40px !important;
            }
        }

        .full_menu {
            nav {
                &>ul {
                    &>li {
                        &>a {
                            color: #fff !important;

                            &:after {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .titleDetail {
        font-family: 'Husqvarna Gothic';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        text-transform: uppercase;
        // color: #5E5E5E;
        color: #000 !important;
        padding-bottom: 40px;
        position: relative;

        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #CECECE;
            top: 20px;
        }

        span {
            background: #f8f8f8;
            z-index: 2;
            display: inline-block;
            position: relative;
            padding-right: 70px;
        }
    }

    .choice {
        margin-bottom: 60px;

        @media screen and (max-width:$mobile) {
            margin-bottom: 50px;
        }

        .titleDetail {
            padding-bottom: 0;

            span {
                background: #fff;
            }
        }

        .slick-dots {
            justify-content: center;
            width: 100%;

            li {
                width: 9px;
                height: 9px;
                margin: 0 5px;

                &.slick-active {
                    button {
                        background: #163861;
                    }
                }

                button {
                    width: 9px;
                    height: 9px;
                    font-size: 0;
                    background: rgba($color: #333, $alpha: .3);
                    border-radius: 10px;
                }
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width:$mobile) {
                &:not(.slick-slider) {
                    &:not(:first-child) {
                        display: none;
                    }
                }
            }

            @media screen and (min-width:$mobile) {
                .slick-list {
                    padding: 60px 0;

                }

                .slick-slide {
                    &:not(.slick-active) {
                        pointer-events: none;
                    }

                    &.slick-active {
                        figure {
                            img {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            li {
                a {
                    width: 270px;
                    height: 220px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    background-color: #fff;
                    transition: all 300ms;
                    position: relative;
                    margin: 0 auto;

                    @media screen and (min-width:$mobile) {
                        &:hover {
                            z-index: 1;
                            transform: scale(1.15);
                            box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.15);
                            z-index: 2;

                            p {
                                opacity: 0;
                            }
                        }
                    }

                    figure {
                        width: 80%;
                        height: 150px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            max-width: 200px;
                            width: auto;
                            height: auto;
                            max-width: 200px;
                            max-height: 150px;

                            @media screen and (min-width:$mobile) {
                                opacity: 1;
                                transition: opacity 300ms;
                            }
                        }
                    }

                    p {
                        height: 0;
                        font-size: 16px;
                        font-weight: 300;
                        margin-top: 10px;
                        transition: opacity 300ms;
                    }
                }
            }

            .slick-arrow {
                background-color: transparent;

                &:after {
                    border-color: #163861;
                }
            }
        }
    }

    .banners {
        &.three {
            display: flex;
            justify-content: space-between;

            .box-banner {
                width: 33%;
            }
        }
    }

    main {
        .slick-dots {
            justify-content: center;
            width: 100%;

            li {
                width: 9px;
                height: 9px;

                &.slick-active {
                    button {
                        background: #163861;
                    }
                }

                button {
                    width: 9px;
                    height: 9px;
                    font-size: 0;
                    background: rgba($color: #333, $alpha: .3);
                    border-radius: 10px;
                }
            }
        }

        &>.container {
            .row {
                &:nth-child(3) {
                    background: #F6F6F6;
                    position: relative;
                    margin-top: 70px;
                    padding-top: 20px;

                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 100vw;
                        height: 100%;
                        background-color: #F6F6F6;
                        top: 0;
                        left: 50%;
                        transform: translatex(-50%);
                    }

                    h2 {
                        font-family: 'Husqvarna Gothic';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 15px;
                        text-transform: uppercase;
                        color: #5E5E5E;
                        padding-bottom: 40px;
                        position: relative;

                        &:before {
                            content: "";
                            display: block;
                            position: absolute;
                            width: calc(100% - 230px);
                            height: 1px;
                            background-color: #CECECE;
                            top: 20px;
                            right: 0;
                        }
                    }
                }

                &:nth-child(4),
                &:nth-child(5) {
                    .col-12 {
                        display: flex !important;

                        justify-content: space-between;

                        >div {
                            width: calc(50% - 15px) !important;
                        }
                    }
                }

                &:nth-child(4) {

                    margin-top: 70px;

                    .col-12 {
                        >div {
                            &:nth-child(1) {
                                .box-banner:nth-child(2) {
                                    display: none;
                                }
                            }

                            &:nth-child(2) {
                                h2 {
                                    display: none;
                                }
                            }
                        }
                    }

                    .prateleira {
                        margin-top: 0px !important;

                        .slick-arrow {
                            background-color: #163861;

                            &:after {
                                border-color: #fff !important;
                            }
                        }
                    }
                }

                &:nth-child(5) {
                    .col-12 {
                        .box-banner {
                            &:nth-child(2) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .prateleira {
        .slick-slider {
            padding: 0 50px;
        }

        .slick-arrow {
            background-color: #fff;

            &:after {
                border-color: #163861 !important;
            }
        }

        article {
            background: #fff;

            .buy-button-normal {
                display: none !important;
            }

            .name a {
                font-family: 'Husqvarna Gothic';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                color: #000000;
            }

            .price {
                .por {
                    font-family: 'Husqvarna Gothic';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 43px;
                    color: #163861;
                }

                .installment,
                .boleto {
                    font-family: 'Husqvarna Gothic';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 23px;
                    color: #000000;

                    strong {
                        font-weight: 700;
                    }
                }
            }

            .view {
                border: 2px solid #163861;
                border-radius: 3px;
                background: #fff;
                font-family: 'Husqvarna Gothic';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 42px;
                text-align: center;
                color: #163861;
                opacity: 1 !important;
                margin: 20px 0px 5px 0;

                &:hover {
                    background: #51C828;
                    border: 2px solid #51C828;
                    color: #fff;
                }
            }
        }
    }

    #blog {
        padding: 50px 0;
        background-color: #f8f8f8;

        .col-12>h2 {
            font-family: 'Husqvarna Gothic';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 40px;
            text-transform: uppercase;
            color: #5E5E5E;
            padding-bottom: 40px;
        }

        ul.slick-slider {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li:not([role="presentation"]) {
                width: calc((100% / 3) - 8px);
                margin: 0 4px;
                border-radius: 5px;
                background: #163861;

                a {
                    display: flex;
                    align-items: center;

                    .image {
                        min-width: 175px;

                        img {
                            width: 175px;
                            display: block;
                        }
                    }

                    .content {
                        margin: 0 15px;

                        h2 {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 15px;
                            line-height: 19px;
                            text-transform: uppercase;
                            color: #FFFFFF;
                        }

                        p {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 13px;
                            line-height: 17px;
                            letter-spacing: 0.055em;
                            color: #FFFFFF;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }

        .slick-slide {
            margin: 0 10px;
        }

        .slick-arrow {
            background: #F6F6F8 !important;

            &:after {
                border-color: #163861 !important;
            }
        }

        .slick-arrow.slick-prev {
            left: -3px;
        }

        .slick-arrow.slick-disabled {
            opacity: 1;
        }

        .slick-arrow.slick-next {
            right: -10px;
        }


        .slick-dots {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 20px;

            li {
                width: 9px;
                height: 9px;
                margin: 0 5px;

                &.slick-active {
                    button {
                        background: #163861;
                    }
                }

                button {
                    width: 9px;
                    height: 9px;
                    font-size: 0;
                    background: rgba($color: #333, $alpha: .3);
                    border-radius: 10px;
                }
            }
        }
    }

    footer .row_1 {
        background: linear-gradient(269.3deg, #163861 25.93%, #194E8F 112.52%);

        #news {
            .text {
                color: #fff;
            }
        }

        .newsletter fieldset input[type="button"] {
            background-color: #F25420 !important;
            border-radius: 3px;
            font-size: 15px !important;
            line-height: 10px;
            position: relative;
            top: 0px !important;
        }
    }

    .tipbar {
        background-image: url('/arquivos/hust_banner-shape.png');
        position: relative;
        top: -74px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top right;

        ul {
            display: flex;
            padding-left: 400px;
            justify-content: space-between;
            height: 88px;
            align-items: center;

            li {
                div {
                    display: flex;
                    align-items: center;
                }

                p {
                    font-family: 'Husqvarna Gothic';
                    font-style: normal;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: -0.02em;
                    margin-left: 14px;
                    color: #163861;

                    strong {
                        font-size: 16px;
                        display: block;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .full_banner {
        img {
            width: 100%;
        }
    }

    @media (min-width: 1280px) {
        .container {
            width: 1280px;
            max-width: 100%;
        }
    }

    @media (max-width: $mobile) {
        header {
            padding-bottom: 0;

            .row_1 ul {
                display: block;

                li {
                    margin: 0;

                    img {
                        margin-right: 13px !important;
                    }

                    p {
                        display: flex;
                        align-items: center;
                        text-align: left;
                        font-size: 12px;
                        max-width: 250px;
                        position: relative;
                        left: 50%;
                        transform: translatex(-50%);
                        line-height: 19px;
                    }
                }


                li.options {
                    display: none;
                }
            }

            .columns {
                .column_1 {
                    text-align: center;

                    img {
                        max-width: 180px;
                    }
                }

                .column_2 {
                    #busca {
                        display: block;
                    }
                }
            }

            .second_menu {
                display: none !important;
            }

            #hamburger {
                background: url('/arquivos/husq_header-menumob.png');
                width: 50px;
                height: 50px;
                background-position: left center;
                background-repeat: no-repeat;

                span {
                    opacity: 0;
                }
            }

            .row_2 {

                .content,
                .display {
                    background-color: #163861 !important;
                }

                nav {
                    >ul {
                        >li {
                            &:after {
                                top: 20px;
                            }

                            a {
                                font-family: 'Husqvarna Gothic';
                                font-weight: 600;
                                font-size: 17px;

                            }
                        }
                    }
                }

                .display {
                    a {
                        color: #fff !important;
                    }
                }

                .close {
                    background: transparent !important;
                }

                .box_account {
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 14px;
                        line-height: 19px;

                        &.title {
                            font-weight: bold;
                        }
                    }
                }

                .footer {
                    ul {
                        img {
                            filter: invert(75%) sepia(32%) saturate(1645%) hue-rotate(179deg) brightness(92%) contrast(95%);
                            position: relative;
                            top: 3px;
                        }

                        p {
                            color: #163861;
                        }

                        li a {
                            border: none !important;
                        }
                    }
                }
            }
        }

        .tipbar {
            top: -71px;
            background-repeat: no-repeat;
            background-size: 880px;
            background-position: center left -70px;

            ul {
                padding-left: 0;
                position: relative;
                top: 80px;

                li {
                    div {
                        justify-content: center;
                    }

                    p {
                        font-size: 19px;
                        line-height: 19px;
                    }
                }
            }
        }

        .full_banner {
            .slick-list {
                img {
                    width: 100%;
                }
            }

            .slick-arrow.slick-disabled {
                opacity: 1;
            }

            .slick-arrow.slick-prev {
                display: block;
                bottom: 33px;
                right: 120px;
                left: unset;
                top: unset;
            }

            .slick-arrow.slick-next {
                display: block;
                bottom: 33px;
                right: 60px;
                left: unset;
                top: unset;
            }
        }

        .titleDetail {
            padding: 0;
            text-align: center;

            span {
                padding: 0;
            }

            &:before {
                display: none;
            }
        }

        .choice {
            margin-top: 30px;

            .slick-dots {
                display: flex !important;
                margin-top: 20px !important;
            }

            ul {
                li {
                    a {
                        figure {
                            img {
                                max-width: 260px;
                                max-height: 155px;
                            }
                        }
                    }
                }
            }
        }

        .banners.three {
            display: block;
            margin-top: 40px;

            .box-banner {
                width: 100%;
                margin-bottom: 12px;
            }
        }

        .prateleira {
            .slick-slider {
                padding: 0px 15px 0px 0px;
            }

            .slick-list {
                padding: 0 20% 0 0 !important;
            }

            article {
                padding: 20px;
            }

            ul {
                li {
                    margin: 0;
                }
            }
        }

        #blog ul.slick-slider li:not([role="presentation"]) a .content p {
            font-size: 11px;
            line-height: 16px;
        }

        main {
            >.container {
                .row:nth-child(3) {
                    margin-top: 40px;

                    h2 {
                        padding-bottom: 10px;

                        &:before {
                            display: none;
                        }
                    }

                    .prateleira {
                        margin: 30px 0px 50px 0px;
                    }
                }

                .row:nth-child(4) {
                    .slick-list {
                        padding: 0 !important;
                    }

                    .col-12 {
                        display: block !important;

                        >div:nth-child(1) {
                            width: 100% !important;

                            .box-banner {
                                img {
                                    width: 100%;
                                }

                                &:nth-child(1) {
                                    display: none;
                                }

                                &:nth-child(2) {
                                    display: block;
                                }
                            }
                        }

                        >div:nth-child(2) {
                            width: 80% !important;
                            margin: -40px auto 0px auto;

                            .prateleira article {
                                border: 1px solid #DDDDDD;
                                border-radius: 3px;
                            }

                        }
                    }
                }

                .row:nth-child(5) {
                    .col-12 {
                        display: block !important;

                        >div {
                            width: 100% !important;

                            .box-banner {
                                margin-top: 13px;

                                img {
                                    width: 100%;
                                }

                                &:nth-child(1) {
                                    display: none;
                                }

                                &:nth-child(2) {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}