.home {
    .full_banner {
        @media screen and (max-width:$mobile) {
            margin-top: 10px;
        }

        .desktop {
            position: relative;

            ul.slick-initialized {
                z-index: 10;
            }

            .arrows {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;

                .container {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .slick-arrow {
                        position: static;
                        z-index: 11;
                    }
                }
            }
        }

        ul {
            &:not(.slick-initialized) {
                .box-banner {
                    &:not(:first-child) {
                        display: none;
                    }
                }
            }

            .slick-dots {
                height: 20px;
                display: flex;
                margin-bottom: 5px;
                align-items: center;
                justify-content: center;

                li {
                    margin: 0 4px;

                    &.slick-active {
                        button {
                            width: 40px;
                            background-color: $cor-principal
                        }
                    }

                    button {
                        width: 13px;
                        height: 13px;
                        font-size: 0;
                        display: block;
                        cursor: pointer;
                        border-radius: 50px;
                        transition: all 300ms;
                        background-color: #dcdcdc;
                    }
                }
            }

            .slick-slide {
                overflow: hidden;
            }
        }
    }

    .tipbar {
        padding: 20px 0;

        ul {
            @media screen and (min-width:$mobile) {
                display: flex;
                justify-content: space-evenly;
            }

            @media screen and (max-width:$mobile) {
                &:not(.slick-initialized) {
                    li {
                        &:not(:first-child) {
                            display: none;
                        }
                    }
                }
            }

            li {
                @media screen and (max-width:$mobile) {
                    margin-right: 50px;
                }

                >div {
                    display: flex;
                    align-items: center;

                    @media screen and (max-width:$mobile) {
                        justify-content: center;
                    }

                    i {
                        margin-right: 10px;
                    }

                    p {
                        font-size: 16px;
                        line-height: 16px;
                        color: $cor-principal;

                        strong {
                            display: block;
                        }

                        small {}
                    }
                }
            }
        }
    }

    .choice {
        @media screen and (max-width:$mobile) {
            margin-bottom: 50px;
        }

        h2 {
            font-size: 30px;
            font-weight: 300;
            line-height: 30px;
            margin: 50px 0 30px;
            text-transform: uppercase;

            @media screen and (min-width:$mobile) {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &:after {
                    content: '';
                    width: 65%;
                    height: 1px;
                    display: block;
                    background-color: #dcdcdc;
                }
            }

            @media screen and (max-width:$mobile) {
                max-width: 80%;
                margin: 40px auto;
                text-align: center;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width:$mobile) {
                &:not(.slick-slider) {
                    &:not(:first-child) {
                        display: none;
                    }
                }
            }

            @media screen and (min-width:$mobile) {
                .slick-list {
                    padding: 60px;
                }

                .slick-slide {
                    &:not(.slick-active) {
                        pointer-events: none;
                    }

                    &.slick-active {
                        figure {
                            img {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            li {
                a {
                    width: 270px;
                    height: 220px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    background-color: #fff;
                    transition: all 300ms;
                    position: relative;
                    margin: 0 auto;

                    @media screen and (min-width:$mobile) {
                        &:hover {
                            z-index: 1;
                            transform: scale(1.2);
                            box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.15);

                            p {
                                opacity: 0;
                            }
                        }
                    }

                    figure {
                        width: 80%;
                        height: 150px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 90%;
                            height: auto;

                            @media screen and (min-width:$mobile) {
                                opacity: 0;
                                transition: opacity 300ms;
                            }
                        }
                    }

                    p {
                        height: 0;
                        font-size: 16px;
                        font-weight: 300;
                        margin-top: 10px;
                        transition: opacity 300ms;
                    }
                }
            }
        }
    }

    .banners {
        @media screen and (min-width:$mobile) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &.two {
            margin-top: 25px;
        }

        .box-banner {
            &:not(:last-child) {
                @media screen and (min-width:$mobile) {
                    margin-right: 5px;
                }
            }

            &:not(:last-child) {
                @media screen and (max-width:$mobile) {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .box-banner {
        a {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    #instagram {
        padding: 20px 0;
        margin-top: 50px;
        background-color: #E7EDF2;

        .columns {
            @media screen and (min-width:$mobile) {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .column {

                &.column_1,
                &.column_3 {
                    @media screen and (min-width:$mobile) {
                        width: 35%;
                    }

                    ul {
                        display: flex;
                        margin: 0 -2px;
                        flex-wrap: wrap;

                        li {
                            width: 49%;
                            margin: 0 2px 0;

                            @media screen and (max-width:$mobile) {
                                width: 48%;
                            }
                        }
                    }
                }

                &.column_2 {
                    text-align: center;

                    @media screen and (min-width:$mobile) {
                        width: 30%;
                    }

                    @media screen and (max-width:$mobile) {
                        margin: 30px 0;
                    }

                    h3 {
                        font-size: 30px;
                        font-weight: bold;
                        line-height: 30px;
                        text-align: center;
                        color: $cor-principal;
                    }

                    i {
                        display: block;
                        margin: 20px auto;
                    }

                    .description {
                        color: #797979;
                        font-size: 16px;
                        line-height: 19px;
                        text-align: center;
                        letter-spacing: -0.02em;
                    }

                    a {
                        width: 250px;
                        height: 50px;
                        font-size: 18px;
                        margin-top: 20px;
                        line-height: 48px;
                        font-weight: bold;
                        text-align: center;
                        display: inline-block;
                        color: $cor-principal;
                        text-transform: uppercase;
                        border: 1px solid $cor-principal;
                    }
                }
            }
        }
    }

    #blog {
        padding: 50px 0;
        background-color: #f8f8f8;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li {
                width: calc((100% / 3) - 8px);
                margin: 0 4px;
                border-radius: 5px;
                background: #163861;
                a {
                    display: flex;
                    align-items: center;
                    .image{
                        min-width: 175px;
                        img{
                            width: 175px;
                            display: block;
                        }
                    }
                    .content{
                        margin: 0 15px;
                        h2{
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 15px;
                            line-height: 19px;
                            text-transform: uppercase;
                            color: #FFFFFF;
                        }
                        p {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 13px;
                            line-height: 17px;
                            letter-spacing: 0.055em;
                            color: #FFFFFF;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
}