.institucional {

    //PÁGINA - VALE A PENA INVESTIR EM BATERIA?
    &.bateria {
        main {
            .columns {
                .column {
                    &.column_2 {
                        @media screen and (min-width:$mobile) {
                            width: 55%;
                        }

                        @media screen and (max-width:$mobile) {
                            margin-bottom: 15px;
                        }

                        padding: 20px 15px;
                        background-color: #f0f0f0;
                    }
                }
            }

            .content-bateria {
                /* width */
                ::-webkit-scrollbar {
                    width: 8px;
                    height: 8px;
                }

                /* Track */
                ::-webkit-scrollbar-track {
                    border-radius: 10px;
                }

                /* Handle */
                ::-webkit-scrollbar-thumb {
                    background-color: $cor-principal;
                    border-radius: 10px;
                }

                >img {
                    display: block;
                    margin: 15px auto;
                }

                .title {
                    font-size: 35px;
                    font-weight: 900;
                    line-height: 50px;
                    margin-bottom: 20px;
                    color: $cor-secundaria;
                    text-transform: uppercase;

                    @media screen and (max-width:$iphone5) {
                        font-size: 20px;
                        line-height: 32px;
                    }

                    @media screen and (min-width:$iphone5) and (max-width:$mobile) {
                        font-size: 25px;
                        line-height: 40px;
                    }

                    span {
                        display: block;
                        font-size: 55px;
                        color: $cor-principal;

                        @media screen and (max-width:$mobile) {
                            font-size: 45px;
                        }
                    }
                }

                .subtitle {
                    font-size: 25px;
                    font-weight: 900;
                    margin: 30px 0 5px;
                    color: $cor-principal;
                    text-transform: uppercase;

                    @media screen and (max-width:$mobile) {
                        font-size: 20px;
                        line-height: 20px;
                    }
                }

                .table {
                    display: flex;
                    overflow-y: scroll;

                    img {
                        max-width: initial!important;
                    }
                }

                .two.column {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    p {
                        width: 48%;

                        @media screen and (min-width:$mobile) {
                            font-size: 12px;
                            font-weight: normal;
                        }

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            margin-top: 15px;
                        }
                    }
                }

                .info {
                    display: flex;
                    margin-top: -10px;
                    justify-content: space-between;

                    li {
                        p {
                            max-width: 65%;
                            font-size: 9px;
                            font-weight: normal;
                        }

                        .flag {
                            font-size: 9px;
                            display: flex;
                            align-items: center;

                            i {
                                display: block;
                                width: 20px;
                                height: 10px;
                                margin-right: 3px;
                                background-color: #cbddbb;
                            }
                        }
                    }
                }
            }
        }
    }

    //PÁGINA - PERGUNTAS FREQUENTES
    &.perguntas-frequentes {
        .content_texto {
            display: none;
        }

        .content_perguntas,
        .form_message {
            display: block;
        }
    }

    //FORMULÁRIO VIRA POP UP EM OUTRAS PÁGINAS
    &:not(.perguntas-frequentes) {
        .form_message {
            display: block;
            position: fixed;
            top: 50%;
            width: 610px;
            height: auto;
            z-index: 12;
            padding: 15px;
            margin: -250px 0 0 0;
            background-color: white;
            transition: transform 300ms;

            transform: scale(0);

            &.active {
                transform: scale(1);
            }

            @media screen and (max-width:$mobile) {
                width: calc(100% - 30px);
                left: 15px;
                top: 5%;
                margin: 0;
                height: 80%;
                overflow: scroll;
            }

            /* width */
            ::-webkit-scrollbar {
                width: 5px;
                height: 5px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                border-radius: 10px;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                background-color: $cor-principal;
                border-radius: 10px;
            }

            .close {
                display: block;
                position: relative;
                width: 100%;
                color: white;
                font-size: 16px;
                font-weight: bold;
                text-align: right;
                cursor: pointer;

                @media screen and (min-width:$mobile) {
                    height: 0;
                    top: -40px;
                    right: -15px;
                }

                @media screen and (max-width:$mobile) {
                    margin-bottom: 10px;
                    color: $cor-principal;
                }
            }
        }
    }

    main {
        .banner {
            margin-top: -15px;
            margin-bottom: 20px;

            img {
                width: 100%;
                height: auto;

                @media screen and (max-width:$mobile) {
                    width: calc(100% + 30px);
                    margin-left: -15px;
                }
            }
        }

        .columns {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 40px;
            justify-content: space-between;

            .column {

                &.column_1,
                &.column_2,
                &.column_3 {
                    @media screen and (max-width:$mobile) {
                        width: 100%;
                    }
                }

                &.column_1 {
                    @media screen and (min-width:$mobile) {
                        width: 18%;
                    }

                    .list {
                        padding: 20px 10px;

                        @media screen and (min-width:$mobile) {
                            border: 1px solid #dcdcdc;
                        }

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            position: fixed;
                            bottom: 0;
                            left: 0;
                            z-index: 100;
                            background-color: #fff;
                        }

                        .title {
                            font-size: 17px;
                            font-weight: bold;
                            color: $cor-principal;

                            @media screen and (max-width:$mobile) {
                                font-size: 22px;
                                text-align: center;
                            }
                        }

                        ul {
                            @media screen and (min-width:$mobile) {
                                margin-bottom: 30px;
                            }

                            @media screen and (max-width:$mobile) {
                                display: none;
                                margin-top: 20px;
                            }

                            li {
                                margin-top: 10px;
                            }
                        }
                    }
                }

                &.column_2 {
                    img {
                        max-width: 100%;
                        height: auto;
                    }

                    @media screen and (min-width:$mobile) {
                        width: 57%;
                        padding: 0 15px;
                    }

                    .content_texto,
                    .content_perguntas {
                        >p {
                            &:not(.topic) {
                                font-size: 14px;
                                font-weight: normal;
                                margin-bottom: 20px;

                                a,
                                &.title {
                                    font-weight: bold;
                                }
                            }
                        }

                        h1,
                        h2 {
                            font-size: 30px;
                            font-weight: bold;
                            line-height: 30px;
                            color: $cor-principal;
                        }

                        h1 {
                            margin-bottom: 20px;

                            &:empty {
                                display: none;
                            }
                        }

                        h2 {
                            margin: 20px 0;
                        }

                        a {
                            text-decoration: underline;
                        }
                    }

                    .content_perguntas {
                        >section {
                            padding: 15px;
                            background-color: #FBFBFB;

                            &:not(:last-child) {
                                margin-bottom: 15px;
                            }

                            .topic {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                font-size: 18px;
                                font-weight: bold;
                                line-height: 21px;
                                color: $cor-principal;
                                letter-spacing: -0.02em;
                                cursor: pointer;

                                &.active {
                                    &:after {
                                        content: '-';
                                    }
                                }

                                &:after {
                                    content: '+';
                                    display: block;
                                    width: 20px;
                                    height: 20px;
                                    font-weight: 300;
                                    line-height: 19px;
                                    color: white;
                                    background-color: $cor-secundaria;
                                    border-radius: 50px;
                                    text-align: center;
                                }
                            }

                            .content {
                                display: none;

                                .item {
                                    padding: 15px;
                                    margin-top: 10px;
                                    transition: background-color 300ms;

                                    &.active {
                                        background-color: #fff;
                                    }

                                    .question {
                                        display: flex;
                                        cursor: pointer;
                                        align-items: center;
                                        justify-content: space-between;
                                        font-size: 16px;
                                        font-weight: bold;
                                        line-height: 19px;
                                        letter-spacing: -0.02em;

                                        &.active {
                                            &:after {
                                                transform: rotate(-135deg)
                                            }
                                        }

                                        &:after {
                                            content: '';
                                            width: 10px;
                                            height: 10px;
                                            display: block;
                                            transform: rotate(45deg);
                                            transition: transform 300ms;
                                            border-right: 2px solid $cor-secundaria;
                                            border-bottom: 2px solid $cor-secundaria;
                                        }
                                    }

                                    .text {
                                        display: none;

                                        p {
                                            font-size: 14px;
                                            margin-top: 15px;
                                            line-height: 16px;
                                            letter-spacing: 0.02em;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .form_message {
                        &:not(.active) {
                            margin-top: 50px;
                            padding-top: 40px;
                            border-top: 1px solid #dcdcdc;

                            @media screen and (max-width:$mobile) {
                                margin-bottom: 40px;
                            }
                        }

                        .title {
                            font-size: 22px;
                            font-weight: bold;
                            color: $cor-principal;
                            margin-bottom: 30px;
                        }

                        form {
                            fieldset {
                                .column {
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-between;

                                    p {
                                        margin-bottom: 15px;

                                        @media screen and (max-width:$mobile) {
                                            width: 100%;
                                        }

                                        label {
                                            font-size: 14px;
                                            font-weight: normal;
                                            margin-bottom: 3px;
                                        }

                                        textarea,
                                        select,
                                        input {
                                            width: 100%;
                                            height: 45px;
                                            text-indent: 15px;
                                            border: 1px solid #E0E0E0;
                                        }

                                        select {
                                            background-color: #F3F3F3;
                                        }

                                        textarea {
                                            height: 130px;
                                        }
                                    }

                                    &.one {
                                        p {
                                            @media screen and (min-width:$mobile) {
                                                width: 100%;
                                            }
                                        }
                                    }

                                    &.two {
                                        p {
                                            @media screen and (min-width:$mobile) {
                                                width: 48%;
                                            }
                                        }
                                    }
                                }

                                .submit {
                                    text-align: right;

                                    input[type="submit"] {
                                        width: 100%;
                                        max-width: 240px;
                                        height: 40px;
                                        line-height: 40px;
                                        font-size: 15px;
                                        font-weight: 400;
                                        color: #fff;
                                        text-align: center;
                                        border-radius: 3px;
                                        display: inline-block;
                                        text-transform: capitalize;
                                        background-color: #51c828;
                                        cursor: pointer;
                                        appearance: none;
                                        -moz-appearance: none;
                                        -webkit-appearance: none;
                                    }
                                }
                            }
                        }
                    }
                }

                &.column_3 {
                    @media screen and (min-width:$mobile) {
                        width: 25%;
                    }

                    article {
                        padding: 20px;
                        border-radius: 5px;
                        background-color: #F4F4F4;

                        .title {
                            font-size: 17px;
                            font-weight: bold;
                            color: $cor-principal;
                            margin-bottom: 20px;
                        }

                        .info {
                            display: flex;

                            i {
                                margin-right: 7px;
                            }

                            .text {
                                a {
                                    font-size: 15px;
                                    font-weight: normal;

                                    &[href="mailto:sac.lojahusqvarna@husqvarnagroup.com"] {
                                        font-size: 11px;
                                    }
                                }
                            }
                        }

                        .description {
                            margin: 30px 0;
                            font-size: 12px;
                            font-weight: normal;
                            padding-bottom: 30px;
                            border-bottom: 1px solid #dcdcdc;
                        }

                        .open_form_message {
                            margin-top: 20px;
                            padding-top: 20px;
                            border-top: 1px solid #dcdcdc;

                            p {
                                font-size: 15px;
                                line-height: 15px;
                                text-align: center;
                                font-weight: normal;
                                margin-bottom: 15px;
                            }

                            a {
                                width: 100%;
                                height: 40px;
                                line-height: 40px;
                                font-size: 15px;
                                font-weight: normal;
                                display: block;
                                color: #fff;
                                text-align: center;
                                border-radius: 3px;
                                text-transform: capitalize;
                                background-color: $cor-cta;
                            }
                        }
                    }
                }
            }
        }
    }
    //PÁGINA - VALE A PENA INVESTIR EM BATERIA? ATUAL
    &.bateria_new{
        @media (max-width: 768px){
            .content_texto{
                margin-bottom: 40px;
            }
            h1, h2{
                font-size: 21px !important;
                line-height: 21px !important;
            }
            
        }
        .vantagens_baterias{
            width: 50%;
            display: inline-block;
            @media (max-width:540px){
                width: 100%;
                padding: 0 !important;
                &.ul_2{
                    margin-bottom: 20px;
                }
            }

            &.ul_1{
                padding-right: 20px;
            }
            &.ul_2{
                float: right;
                padding-left: 20px;
            }
            h3{
                font-weight: bold;
                font-size: 17px;
                line-height: 21px;
                color: #163861;
                margin: 12px 0px 2px 0px;
            }
            p{
                color: #323232;
            }
            li{
                position: relative;
                padding-left: 45px;
                &::before{
                    content: '';
                    width: 33px;
                    height: 33px;
                    display: inline-block;
                    background-size: contain !important;
                    background-position: center !important;
                    background-repeat: no-repeat !important;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
            &.ul_1 li:nth-child(1):before {
                background-image: url('/arquivos/emprestimo.png')
            }
            &.ul_1 li:nth-child(2):before {
                background-image: url('/arquivos/energia.png')
            }
            &.ul_1 li:nth-child(3):before {
                background-image: url('/arquivos/orelha.png')
            }
            &.ul_1 li:nth-child(4):before {
                background-image: url('/arquivos/arco-iris.png')
            }
            &.ul_2 li:nth-child(1):before {
                background-image: url('/arquivos/boa.png')
            }
            &.ul_2 li:nth-child(2):before {
                background-image: url('/arquivos/fumaca.png')
            }
            &.ul_2 li:nth-child(3):before {
                background-image: url('/arquivos/rapidez.png')
            }
        }
        small{
            display: block;
            margin-top: 15px;
            color: #323232;
        }
        h2{
            font-weight: bold;
            font-size: 30px;
            line-height: 35px;
            color: #FC5428 !important;
            margin: 18px 0px 5px 0px;
        }
        h1{
            font-size: 28px;
            @media (max-width: 768px) {
                br{
                    display: none;
                }
            }
        }

        img + h2, h1.blue{
            color: #163861 !important;
        }
        div.image_scroll:nth-child(10){
            width: 100%;
            overflow-x: scroll;
            &::-webkit-scrollbar {
                width: 20px;
                height: 9px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                border-radius: 10px;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background-color: #E4E4E4;
                border-radius: 10px;
            }

            img{
                max-width: initial;
            }
        }
    }
}

// Politca de Privacidade
.institucional{
    .display_text{
        > div{
            margin-bottom: 20px;
            p > strong{
                display: block;
                margin-bottom: 20px;
            }
        }
        .table_scroll{
            table{
                width: 600px !important;  
            }
            @media (min-width: 768px) {
                width: 100% !important;   
            }
        }
        .table_scroll, .scroll_table{
            overflow-x: auto;
            @media (max-width: 768px) {
                height: 500px !important;   
            }
            ul{
                li{
                    text-align: left !important;
                }
            }

        }
        table{
            border: 0 !important;
            margin: 20px 0 !important;
            @media (min-width: 768px) {
                width: 100% !important;   
            }
            tr{
                td{
                    padding: 20px !important;
                }
            }
        }
        p + table{
            margin-top: 0 !important;
        }
        #div_3{
            ul{
                list-style-type: disc !important;
                margin-bottom: 8px !important;
                li{
                    color: black !important;
                }
            }
        }
        #div_4, #div_6, #div_7, #div_9, #div_2-1, #div_5-1{
            ul{
                li{
                    margin-bottom: 8px !important;
                }
            }
        }
        #div_6, #div_7, #div_9{
            ul{
                margin-top: 15px;
                li{
                    list-style-type: disc;
                }
            }
        }
        #div_4{
            p strong{
                display: inline-block;
            }
        }
        #div_4-1{
            table + p{
                margin-bottom: 15px !important;
            }
            > ol{
                list-style-type: Decimal;
                ol{
                    margin: 8px;
                    margin-left: 20px;
                    li{
                        margin: 8px 0;
                    }
                }
            }
            >ul{
                margin-top: 8px;
                li{
                    margin-bottom: 8px;
                }
            }
        }
        #div_5-1{
            ul + p{
                margin: 10px 0;
            }
        }
    }
}