.landing-automower{
    .col-xs-12{
        width: 100%;
        padding: 0 15px;
    }
    .link_button{
        background: #51C828;
        color: #fff !important;
        font-weight: 600;
        padding: 12px 24px;
        display: inline-block;
    }
    .topbar{
        padding: 15px 0;
        h1{
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 23px;
            line-height: 27px;
            color: #163861;
            margin: 6px 0;
        }
        ul{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            li{
                margin-left: 25px;
                a{
                    font-family: Roboto;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #989898;
                }
            }
        }
        @media (max-width: 1200px){
            h1{
                font-size: 20px;
            }
        }
        @media (max-width: 991px){
            h1{
                font-size: 16px;
            }
            ul{
                li{
                    &:nth-child(1), &:nth-child(2){
                        display: none;
                    }
                }
            }
        }
        @media (max-width: 768px){
            h1{
                text-align: center;
            }
            ul{
                justify-content: center;
                li{
                    margin-left: 0;
                }
            }
        }
    }
    .first{
        background-image: url('https://husqvarna.vteximg.com.br/arquivos/Group%20129.png');
        text-align: center;
        height: 1124px;
        background-size: cover;
        background-position: bottom center;
        h2{
            font-family: Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 80px;
            line-height: 84px;
            color: #fff;
            max-width: 640px;
            margin: 130px auto 0px auto;
        }
        p{
            font-family: Roboto;
            font-style: normal;
            font-size: 26px;
            line-height: 32px;
            color: #fff;
            font-weight: 300;
            max-width: 1000px;
            margin: 50px auto 25px auto;
        }
        h3{
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            line-height: 41px;
            text-align: center;
            color: #FFFFFF;
        }
        .link_button{
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 30px;
            padding: 15px 40px;
            font-size: 15px;
        }
        .detalhes{
            display: block;
            color: #fff;
            margin-top: 160px;
            text-transform: uppercase;
            text-decoration: underline;
            span{
                height: 16px;
                width: 16px;
                display: inline-block;
                background: #fff;
                border-radius: 10px;
                color: #273a60;
                font-size: 17px;
                line-height: 14px;
                margin-right: 2px;
            }
        }
        @media (max-width: 550px){
            height: 634px;
            h2{
                font-size: 50px;
                line-height: 60px;
                margin: 65px auto 0 auto;
            }
            p{
                font-size: 14px;
                line-height: 20px;
                margin: 15px auto 10px auto;
            }
            h3{
                font-size: 26px;
                line-height: 36px;
            }
            .link_button{
                width: 100%;
                margin-top: 170px;
            }
            .detalhes{
                margin-top: 15px;
            }
        }
    }
    .second{
        background: #E2E3E6;
        padding: 120px 0;
        margin: 60px 0;
        img{
            mix-blend-mode: multiply;
        }
        .col-xs-12{
            display: flex;
            .col1, .col3{
                width: 182px;
            }
            .col2{
                width: calc(100% - 364px);
                img{
                    max-width: 680px;
                }
                .icons-desk-up{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        margin: 0 10px;;
                    }
                }
                .image-automower{
                    margin: 80px auto 0 auto;
                    display: block;
                }
            }
        }
        .box-icon{
            margin-bottom: 40px;
            img{
                max-width: 50px;
                max-height: 60px;
                margin-bottom: 10px;
            }
            .text-icon{
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 30px;
                color: #163861;
            }
        }
        @media (max-width: 1200px){
            .col-xs-12{
                .col2{
                    img{
                        max-width: 93%;
                    }
                }
            }
            .box-icon{
                .text-icon{
                    font-size: 20px;
                    line-height: 25px;
                }
            }
        }
        @media (max-width: 768px){
            padding: 60px 0;
            .box-icon{
                display: flex;
                width: 170px;
                .text-icon{
                    font-size: 15px;
                    line-height: 19px;
                    margin-right: 10px;
                }
                img{
                    margin-right: 10px;
                }
            }
            .col-xs-12{
                flex-wrap: wrap;
                > div{
                    width: 100% !important;
                }
                .col1{
                    order: 2
                }
                .col2{
                    order: 1;
                    text-align: center;
                    .image-automower{
                        margin-top: 0;
                    }
                    img{
                        margin-top: 0;
                        max-width: 520px;
                        margin-bottom: 20px;
                        
                    }
                }
                .col3{
                    order: 3
                }
                .col1, .col3{
                    display: flex;
                    align-items: center;
                }
            }
        }
        @media (max-width: 650px) {
            padding: 50px 0 10px 0;
            .col-xs-12{
                .col2{
                    img{
                        max-width: 100%;
                    }
                }
                .col1, .col3{
                    flex-wrap: wrap;
                    .box-icon{
                        width: 50%;
                        .text-icon{
                            font-size: 16px;
                            margin-right: 35px;
                        }
                    }
                }
            }
        }
    }
    .third{
        display: flex;
        .column1, .column2{
            width: 50%;
        }
        .column1{
            padding: 120px;
            background: #EFEFEF;
        }
        img{
            display: block;
            height: 100%;
        }
        h2{
            font-style: normal;
            font-weight: bold;
            font-size: 55px;
            line-height: 63px;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #163861;
            margin-bottom: 30px;
        }
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 23px;
            letter-spacing: 0.01em;
            color: #5E5E5E;
        }
        @media (max-width: 1200px){
            .column1{
                padding: 70px 80px;
            }
            h2{
                font-size: 40px;
                line-height: 50px;
            }
            p{
                font-size: 16px;
                line-height: 21px;
            }
        }
    }
    .fourth{
        padding: 120px 0;
        h2{
            font-style: normal;
            font-weight: bold;
            font-size: 55px;
            line-height: 63px;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #163861;
            margin-bottom: 15px;
            text-align: center;
        }
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 23px;
            letter-spacing: 0.01em;
            color: #5E5E5E;
            text-align: center;
        }
        img{
            margin-top: 70px;
        }
        @media (max-width: 1200px){
            h2{
                font-size: 40px;
                line-height: 50px;;
            }
            p{
                font-size: 16px;
                line-height: 21px;
            }
        }
        @media (max-width: 991px) {
            .col-xs-12 > img{
                display: none;
            }
            .mobile{
                display: block !important;
                ul{
                    margin-top: 20px;
                    li{
                        padding: 15px;
                        background: #E2E3E6;
                        margin-bottom: 20px;
                        b{
                            display: block;
                            color: #163861;
                            line-height: 27px;
                        }
                    }
                }
            }
        }
        @media (max-width: 768px) {
            padding: 50px 0;
        }
    }
    .fifth{
        img{
            width: 100%;
        }
    }
    .sixth{
        margin-top: 60px;
        h2{
            font-style: normal;
            font-weight: bold;
            font-size: 55px;
            line-height: 63px;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #163861;
            margin-bottom: 70px;
            max-width: 530px;
            margin-top: 60px;
        }
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 23px;
            letter-spacing: 0.01em;
            color: #5E5E5E;
            margin-top: 25px;
        }
        @media (max-width: 1200px){
            h2{
                font-size: 40px;
                line-height: 50px;
            }
            p{
                font-size: 16px;
                line-height: 21px;
            }
        }
        @media (max-width: 765px){
            h2{
                margin-top: 0;
            }
            p{
                margin-bottom: 30px;
            }
        }
    }
    .seventh,
    .eighth{
        display: flex;
        .column1, .column2{
            width: 50%;
            h2{
                font-style: normal;
                font-weight: 700;
                font-size: 55px;
                line-height: 63px;
                text-transform: uppercase;
                color: #163861;
                max-width: 440px;
                margin-bottom: 30px;
            }
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 23px;
                letter-spacing: 0.01em;
                color: #5E5E5E;
                max-width: 440px;
            }
            img{
                display: block;
                height: 100%
            }
        }
        @media (max-width: 1200px){
            .column1, .column2{
                h2{
                    font-size: 40px;
                    line-height: 50px;
                }
                p{
                    font-size: 16px;
                    line-height: 21px;
                }
            }
        }
    }
    .seventh{
        margin: 60px 0;
        .column1{
            background: #163861;
            padding: 130px;
            h2{
                color: #FFFFFF;
            }
            p{
                color: #fff;
            }
        }
    }
    .eighth{
        .column2{
            padding: 130px;
        }
    }
    .nineth{
        background: #E2E3E6;
        padding: 110px 0px 40px 0px;
        margin-top: 60px;
        img{
            mix-blend-mode: multiply;
            max-width: 410px;
            max-height: 210px;
        }
        ul{
            display: flex;
            justify-content: center;
            li{
                margin: 0 30px;
            }
        }
        h2{
            font-style: normal;
            font-weight: 700;
            font-size: 54px;
            line-height: 59px;
            text-align: center;
            letter-spacing: -.02em;
            text-transform: uppercase;
            color: #163861;
            max-width: 1000px;
            margin: 0 auto;
            display: block;
        }
        h2 + a{
            font-style: normal;
            font-weight: normal;
            font-size: 21px;
            line-height: 25px;
            text-align: center;
            text-decoration-line: underline;
            color: #163861;
            display: block;
            margin: 50px 0px;
        }
        @media (max-width: 1200px){
            h2{
                font-size: 40px;
                line-height: 50px;;
            }
            h2 + a{
                font-size: 18px;
                line-height: 21px;
            }
        }
        @media (max-width: 765px){;
            padding: 60px 0 40px 0;
            h2{
                font-size: 26px;
                line-height: 34px;
            }
            h2 + a{
                font-size: 16px;
                margin: 30px 0 40px 0;
            }
            img{
                max-width: 100%;
            }
            ul{
                li{
                    margin: 0;
                }
            }
        }
    }
    .tenth{
        .row_2{
            background-color: #efefef;
            padding-top: 10px;
            .tabs{
                ul{
                    display: flex;
                    li{
                        cursor: pointer;
                        a{
                            display: block;
                            padding: 15px 20px;
                            font-size: 20px;
                            line-height: 23px;
                            text-transform: uppercase;
                            color: #163861;
                            &.active{
                                font-weight: bold;
                                background: #fff;
                            }
                        }
                    }
                }
                .content{
                    padding: 30px;
                    background: #fff;
                    .list {
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0 -10px;
                        .box {
                            padding: 0 10px;
                            height: 400px;
                            width: calc(100% / 3);
                            .title {
                                display: flex;
                                font-size: 20px;
                                font-weight: 700;
                                margin-bottom: 10px;
                                align-items: center;
                                color: #163861;
                                img {
                                    margin-right: 10px;
                                }
                            }
                            table {
                                width: 100%;
                                height: auto;
                                tr {
                                    padding: 5px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    &:nth-child(2n+0) {
                                        background-color: #f3f3f3;
                                    }	
                                    th {
                                        text-align: left
                                    }
                                }
                            }
                            @media (max-width: 768px) {
                                height: auto;
                                width: 100%;
                            }
                        }
                    }
                    .step {
                        .title {
                            font-size: 30px;
                            line-height: 35px;
                            letter-spacing: -.02em;
                            font-weight: 700;
                            color: #163861;
                        }
                        .description {
                            margin: 20px 0;
                            font-size: 14px;
                            line-height: 16px;
                            letter-spacing: .01em;
                            color: #5e5e5e;
                        }
                    }
                    #step-5 {
                        ul {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            li {
                                display: flex;
                                margin-top: 30px;
                                i {
                                    margin-right: 20px;
                                }
                                p {
                                    strong {
                                        color: #163861;
                                        display: block;
                                        font-size: 17px;
                                        line-height: 20px;
                                        margin-bottom: 5px;
                                        letter-spacing: -.02em;
                                        text-transform: uppercase;
                                    }
                                    small {
                                        font-size: 14px;
                                        line-height: 16px;
                                        letter-spacing: .01em;
                                        color: #5e5e5e;
                                    }
                                }
                                @media screen and (min-width: 812px) {
                                    width: 48%;
                                }
                            }
                        }
                    }
                }
            }
            @media screen and (max-width: 812px) {
                .tabs .options ul {
                    overflow-x: auto;
                    flex-wrap: nowrap;
                    justify-content: initial;
                }
                
                .row_2 .tabs .options ul li a {
                    padding: 10px;
                }
                
                .options ul {
                    padding: 0;
                }
                
                .tabs .options ul li {
                    flex: 0 0 auto;
                }
                
                .tabs .options ul li a {
                    padding: 12px 15px;
                    font-size: 15px;
                }
                
                .list .box {
                    width: 100%;
                    height: auto;
                    margin-bottom: 25px;
                }
            }
        }
    }
    @media (max-width: 768px) {
        .third, .seventh, .eighth{
            display: block;
            .column1, .column2{
                width: 100%;
            }
        }   
        .seventh{
            .column1{
                padding: 60px 70px;
            }
        }
        .eighth{
            .column2{
                padding: 60px 70px;
            }
        }
    }
    @media (max-width: 540px) {
        .third{
            .column1{
                padding: 25px 15px 30px 15px !important;
            }
        }
        .seventh{
            .column1{
                padding: 55px 15px 70px 15px !important
            }
        }
        .eighth{
            .column2{
                padding: 25px 15px 30px 15px;
            }
        }
    }
}