header .row_2 .full_menu .content nav{
    & > ul{
        & > li{
            .submenu{
                padding: 15px !important;
                .display{
                    min-width: 230px;
                    .image{
                        width: 100%;
                        max-width: 230px;
                        display: block;
                        margin: 0 auto;
                        img{
                            width: 195px;
                            margin: 0px 15px 0px 10px;
                        }
                    }
                    .content{
                        margin-top: 15px;
                        width: 100%;
                        a{
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px !important;
                            line-height: 15px !important;
                            text-align:center;
                            color: #000000;
                        }
                    }
                }
            }
            @media (max-width: 812px){
                .submenu{
                    padding: 0 !important;
                    .display{
                        .image{
                            display: none !important;
                        }
                        a{
                            text-align: left !important;
                        }
                    }
                    .banner{
                        display: none;
                    }
                }
            }
        }
    }
}

.new-menu-02{
    margin-top: 15px;
    ul{
        li{
            .submenu{
                padding: 25px !important;
                .content{
                    margin-right: 25px;
                    .thumb{
                        img{
                            max-width: 195px;
                            display: block;
                            margin: 0 auto;
                        }
                    }
                    a{
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px !important;
                        line-height: 19px !important;
                        padding: 2px 0;
                        text-align:center;
                        color: #000000;
                    }
                }
            }
            @media (max-width: 812px){
                .submenu{
                    .content{
                        .thumb{
                            display: none !important;
                        }
                        a{
                            text-align: left;
                        }
                    }
                    .banner{
                        display: none;
                    }
                }
            }
        }
    }
}