.popup_bf{
    background: #f5f5f5;
    width: 420px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    &.active{
        display: block !important;
    }
    .close{
        background: #fff;
        width: 25px;
        height: 25px;
        border-radius: 15px;
        display: block;
        text-align: center;
        font-size: 16px;
        line-height: 25px;
        border: 1px solid #000;
        position: absolute;
        right: 20px;
        top: 20px;
        color: #000;
    }
    .image{
        img{
            width: 100%;
        }
    }
    .title{
        padding: 0 15px;
        font-size: 16px;
        margin-top: 10px;
        text-align: center;
        font-weight: bold;
        width: 100%;
        margin: 20px auto 0px auto;
        color: #183f69;     
        span{
            color: #f35321;
        }
    }
    .foot{
        padding: 0px 15px 20px 15px;
        position: relative;
        top: -45px;
        margin-bottom: -50px !important;
        span{
            display: block;
            color: #183f69;
            padding: 2px 0;
        }
    }
    .form{
        padding:  0 15px;
        margin: 25px 0;
        input{
            width: calc(50% - 14px);
            background: #E2E3E6;
            padding: 12px 15px;
            margin: 6px 6px;
            display: inline-block;
            color: #273a60;
            font-weight: 600;
        }
        input[type="submit"]{
            display: inline-block !important;
            width: auto !important;
            color: #fff !important;
            background-color: #f35321;
            position: relative;
            left: calc(100% - 15px);
            transform: translateX(-100%);
            padding: 12px 30px;
            font-size: 16px;
        }
    }
    .success{
        display: none;
    }
    @media (max-width: 768px) {
        width: 320px;
        padding-top: 35px;
        .image{
            display: none;
        }
        .title{
            width: auto;    
            font-size: 20px;
        }
        .form{
            input{
                width: 100%;
                margin: 6px 0;
            }
            input[type="submit"]{
                left: 100%;
            }
        }
    }
}