.prateleira {
    &:not(.compre_junto) {
        margin: 50px 0;

        ul {
            li {
                article {

                    .view,
                    .buy-button-normal a {
                        opacity: 0;
                        transition: opacity 300ms;

                        @media screen and (max-width:$mobile) {
                            display: none;
                        }
                    }

                    &:hover {
                        @media screen and (min-width:$mobile) {
                            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
                        }

                        .view,
                        .buy-button-normal a {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .slick-initialized {
        @media screen and (max-width:$mobile) {
            margin-right: -15px;
        }
    }

    h2 {
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 30px;

        @media screen and (max-width:$mobile) {
            text-align: center;
        }
    }

    .produtos-a-bateria{
        [data-id="199"], [data-id="200"]{
            .boleto{
                display: none !important;
            }
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            padding: 10px;
            width: calc(100% / 4);
            //DESKTOP
            @media (max-width: 1124px) {
                width: calc((100% / 2) - 10px);
                margin: 0 5px;
            }

            article {
                position: relative;
                transition: box-shadow 300ms;

                &[data-id="199"],
                &[data-id="200"] {
                    .buy-button-normal {
                        display: none !important;
                    }
                }

                @media screen and (min-width:$mobile) {
                    padding: 10px;
                }

                figure {
                    a {
                        display: block;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                .name {
                    a {
                        display: block;
                        font-weight: 300;

                        @media screen and (min-width:$mobile) {
                            height: 50px;
                            font-size: 16px;
                            line-height: 17px;
                        }

                        @media screen and (max-width:$mobile) {
                            height: auto;
                            font-size: 15px;
                            line-height: 17px;
                        }
                    }
                }

                .price {
                    margin: 10px 0;
                    .por {
                        strong {
                            font-size: 25px;
                            color: $cor-principal;

                            @media screen and (max-width:$mobile) {
                                font-size: 20px;
                            }
                        }
                    }

                    .installment {
                        font-weight: 300;
                        line-height: 16px;
                        strong {
                            color: #FF6731;
                            font-weight: 500;
                        }
                    }

                    > a{
                        > p:nth-child(3){
                            font-size: 13px;
                            margin-top: 2px;
                        }
                    }
                }

                .no-estoque {
                    color: red;
                }

                .view,
                .buy-button-normal a {
                    width: 100%;
                    height: 45px;
                    display: block;
                    line-height: 45px;
                    text-align: center;
                }

                .view {
                    color: #fff;
                    font-size: 22px;
                    font-weight: bold;
                    text-transform: uppercase;
                    background-color: $cor-cta;
                }

                .buy-button-normal {
                    a {
                        font-weight: 400;
                        color: #383838;
                        margin-top: 10px;
                        border: 1px solid #4D4D4D;
                        font-size: 0;

                        &:after {
                            font-size: 18px;
                            content: 'Compra rapida';
                        }
                    }
                }
            }

            

        }
    }
}

.cards_acessorios {
    h2 {
        display: none;
    }
    ul {
        overflow: hidden;
        padding-bottom: 10px;
        &:not(.slick-initialized) {
            display: flex;
        }
        @media screen and (max-width:$mobile) {
            margin-bottom: 20px;
        }
        //SELETOR DO ULTIMO
        +fieldset {
            display: none;
        }
        li {
            position: relative;

            @media screen and (min-width:$mobile) {
                width: 400px;
                margin: 8px 20px 0 20px;
            }

            +fieldset {
                display: none;
            }

            article {
                display: flex;
                position: relative;
                justify-content: space-between;

                .add {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    width: 20px;
                    height: 20px;
                    display: block;
                    cursor: pointer;
                    border-radius: 5px;
                    border: 1px solid #03A9F4;
                    background-color: #f5f5f5;

                    &.active {
                        background-color: #03A9F4;
                    }
                }

                .column {
                    &.column_1 {
                        width: 40%;

                        figure {
                            a {
                                display: inline-block;
                                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);

                                img {
                                    width: 100%;
                                    max-width: 160px;
                                    height: auto;
                                }
                            }

                        }
                    }

                    &.column_2 {
                        width: 60%;
                        padding-left: 20px;

                        .name {
                            height: 70px;
                            display: block;
                            font-size: 18px;
                            font-weight: 300;
                            line-height: 18px;
                        }

                        .price {
                            .por {
                                font-size: 25px;
                                font-weight: bold;
                                color: $cor-principal;

                                @media screen and (max-width:$mobile) {
                                    font-size: 20px;
                                }
                            }

                            .installment {
                                font-weight: 300;
                                line-height: 16px;
                            }
                        }
                    }
                }
            }
        }
    }

    .box-preco-atualizado {
        display: none;
    }
}