@font-face {
    font-family: 'Husqvarna Gothic';
    src: url('/arquivos/HusqvarnaGothic-Bold.css');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Husqvarna Gothic';
    src: url('/arquivos/HusqvarnaGothic-Light.css');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Husqvarna Gothic';
    src: url('/arquivos/HusqvarnaGothic-Regular.css');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import 'variaveis';
@import 'util';
@import 'carrinho';
@import 'home';
@import 'header';
@import 'footer';
@import 'erro';
@import 'breadcrumb';
@import 'produto';
@import 'departamento';
@import 'login';
@import 'account';
@import 'prateleira';
@import 'slick';
@import 'institucional';
@import 'manuais';
@import 'popup';
@import 'new-menu';
@import 'landing-page';
@import 'atendimento';