$font-principal: 'Roboto', sans-serif;
$font-secundaria: sans-serif;

$branco: #fff;
$cor-principal: #163861;
$cor-secundaria: #ff5316;
$cor-cta: #51C828;
$cor-texto: #5E5E5E;

$mobile: 812px;
$iphone5: 360px;
$tablet-landscape: 768px;
$tablet: 1024px;
$small-monitor: 1366px;