@font-face {
  font-family: 'Husqvarna Gothic';
  src: url('https://www.lojahusqvarna.com.br/arquivos/HusqvarnaGothic-Bold.css');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Husqvarna Gothic';
  src: url('https://www.lojahusqvarna.com.br/arquivos/HusqvarnaGothic-Light.css');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Husqvarna Gothic';
  src: url('https://www.lojahusqvarna.com.br/arquivos/HusqvarnaGothic-Regular.css');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*RESET*/
html {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  background-color: #fff;
  font-family: 'Husqvarna Gothic' !important;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled],
.btn-success {
  border: none;
  background-image: none;
  background-color: #51c828 !important;
  text-shadow: none;
}
#overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(130, 130, 130, 0.5);
  position: fixed;
  transition: opacity 300ms ease;
  visibility: hidden;
  z-index: 999999;
}
#overlay.active {
  opacity: 1;
  visibility: visible;
}
/*RESET*/
/*BUTTONS*/
#cart-to-orderform {
  padding: 0;
  display: block;
  width: 400px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  font-weight: bold;
  background: #51c828;
  box-shadow: 0px 4px 8px #51c828;
}
/*FIM - BUTTONS*/
/*HEADER*/
header {
  margin-bottom: 5px;
}
header .row_1 {
  display: flex;
  justify-content: space-between;
}
header .row_1 p {
  /* display: flex; */
  display: none;
  align-items: center;
}
header .row_1 p i {
  margin-right: 7px;
}
/*FIM - HEADER*/

/*FOOTER*/
footer {
  background-color: #fff;
}
footer .columns {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
footer .columns .column p {
  color: #163861;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
footer .columns .column ul {
  display: flex;
  align-items: center;
}
footer .columns .column ul li:not(:last-child) {
  margin-right: 15px;
}
footer + .copyright {
  margin: 15px 0 30px 0;
  text-align: center;
}
@media (max-width: 768px) {
  footer .columns {
    flex-wrap: wrap;
    padding: 40px 15px;
  }
  footer .columns .column {
    margin-bottom: 45px;
  }
}
/*FIM - FOOTER*/

/*CONTAINER*/
@media (min-width: 1200px) {
  .container-cart,
  .container-order-form {
    width: 1170px;
  }
}
@media (max-width: 768px) {
  .container-cart,
  .container-order-form {
    margin: 0 15px;
  }
}
/*FIM CONTAINER*/
/*STEP BAR*/
.step_bar {
  display: block !important;
  border-top: 1px solid #ddd;
}
.step_bar__wrapper {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1245px;
  margin: 40px auto;
  list-style: none;
}
.step_bar__item {
  margin-right: 60px;
}
.step_bar__item a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #363843;
  text-decoration: none;
}
.step_bar__item.actived a {
  font-weight: bold;
  font-size: 22px;
  color: #163861;
}
.step_bar__item--one a::before {
  content: "1. ";
}
.step_bar__item--two a::before {
  content: "2. ";
}
.step_bar__item--three a::before {
  content: "3. ";
}
.step_bar__item--four a::before {
  content: "4. ";
}
@media (max-width: 768px) {
  .step_bar {
    /* display: none !important; */
  }
  .step_bar__wrapper {
    width: 350px;
    justify-content: space-between;
    position: relative;
  }
  .step_bar__wrapper::before {
    content: "";
    width: calc(100% - 60px);
    height: 2px;
    background: #ddd;
    display: block;
    position: absolute;
    top: 7px;
    left: 25px;
  }
  .step_bar__item {
    margin-right: 00px;
    position: relative;
  }
  .step_bar__item::before {
    content: "";
    width: 45px;
    height: 35px;
    display: block;
    position: absolute;
    background: #fff;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
  }
  .step_bar__item a {
    color: #dddddd;
    font-size: 15px;
    position: relative;
    padding-top: 35px;
    display: block;
  }
  .step_bar__item.actived a {
    font-size: 15px;
    color: #363843;
    font-weight: normal;
  }
  .step_bar__item a::before {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    background: #ddd;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
  }
  .step_bar__item.older a::after {
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    border: 2px solid #ddd;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
  }
  .step_bar__item.actived a::after {
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    border: 2px solid #163861;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
  }
  .step_bar__item.actived a::before {
    background: #163861;
  }
}
/*FIM STEP BAR*/
/* CART */
#cart-title {
  display: none !important;
}
#termos_uso {
  display: none;
}
#orderform-title {
  display: none !important;
}
.cart-template {
  display: flex !important;
  flex-wrap: wrap;
}
.cart-template-holder {
  width: 65%;
}
.cart-template-holder .cart {
  border: none;
}
.cart-template-holder .cart-items thead {
  display: none;
}
.cart-template-holder .cart-items .product-item {
  position: relative;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 150px 0.38fr 0.3fr 0.32fr;
  grid-template-rows: auto auto auto;
  gap: 0 0;
  grid-template-areas: "IMAGE NAME NAME NAME" "IMAGE QUANTITY UNITARY SUBTOTAL" "IMAGE SHIPPING SHIPPING SHIPPING";
  padding-bottom: 1em;
  padding-top: 1em;
  background: #f6f6f8;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 15px;
}
.cart-template-holder .cart-items .product-item .product-image {
  grid-area: IMAGE;
  background: no-repeat;
  padding: 10px;
  margin: auto;
  width: 150px;
}
.cart-template-holder .cart-items .product-item .product-image img {
  max-width: 130px;
  width: 130px;
  height: 130px;
  mix-blend-mode: multiply;
}
.cart-template-holder .cart-items .product-item .product-name {
  grid-area: NAME;
  -ms-flex-order: 2;
  order: 2;
  width: unset;
}
.cart-template-holder .cart-items .product-item .product-name a {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #363843;
  text-decoration: none;
}
.cart-template-holder .cart-items .product-item .product-price {
  grid-area: UNITARY;
  -ms-flex-order: 4;
  order: 4;
  text-align: left;
  font-size: 16px;
  color: #363843;
}
.cart-template-holder .cart-items .product-item .product-price::before {
  content: "Valor";
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #646981;
  margin-bottom: 7px;
}
.cart-template-holder .cart-items .product-item .quantity {
  grid-area: QUANTITY;
  -ms-flex-order: 3;
  order: 3;
  padding-bottom: 0.25em;
  text-align: left;
}
.cart-template-holder .cart-items .product-item .quantity input {
  margin: 0 -4px;
  height: 34px;
  border-radius: 0;
  width: 43px;
}
.cart-template-holder .cart-items .product-item .quantity .item-quantity-change-decrement,
.cart-template-holder .cart-items .product-item .quantity .item-quantity-change-increment {
  background: #a0a4b3;
  width: 40px;
  display: inline-block;
  height: 34px;
  font-size: 27px;
  text-align: center;
}
.cart-template-holder .cart-items .product-item .quantity .item-quantity-change-increment {
  font-size: 20px;
}
.cart-template-holder .cart-items .product-item .quantity .item-quantity-change-decrement .icon-minus-sign::before {
  content: "-";
  color: #fff;
}
.cart-template-holder .cart-items .product-item .quantity .item-quantity-change-decrement .icon-minus-sign {
  line-height: 28px;
}
.cart-template-holder .cart-items .product-item .quantity .item-quantity-change-increment .icon-plus-sign {
  line-height: 33px;
}
.cart-template-holder .cart-items .product-item .quantity .item-quantity-change-increment .icon-plus-sign::before {
  content: "+";
  color: #fff;
}
.cart-template-holder .cart-items .product-item .quantity::before {
  content: "Quantidade";
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #646981;
  margin-bottom: 7px;
}
.cart-template-holder .cart-items .product-item .quantity-price {
  grid-area: SUBTOTAL;
  -ms-flex-order: 5;
  order: 5;
  text-align: left;
  color: #163861;
  font-weight: bold;
  font-size: 16px;
}
.cart-template-holder .cart-items .product-item .quantity-price::before {
  content: "Total";
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #646981;
  margin-bottom: 7px;
}
.cart-template-holder .cart-items .product-item .shipping-date {
  grid-area: SHIPPING;
  -ms-flex-order: 6;
  order: 6;
  text-align: left;
}
.cart-template-holder .cart-items .product-item .item-remove {
  position: absolute;
  right: 15px;
  top: 2px;
  padding: 10px 0 0;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.summary-template-holder {
  width: calc(35% - 5px);
  padding: 5px;
  margin-left: 5px;
}
.summary-template-holder .cart-more-options,
.summary-template-holder .totalizers {
  width: 100%;
}
.summary-template-holder .cart-more-options {
  margin: 0;
}
.summary-template-holder .cart-more-options .available-gift {
  padding: 15px;
  background: #f6f6f8;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}
.summary-template-holder .cart-more-options .available-gift img {
  mix-blend-mode: multiply;
}
.summary-template-holder .cart-more-options #shipping-preview-container {
  padding: 15px;
  background: #f6f6f8;
  border: 1px solid #ddd;
  max-width: 100%;
  margin-bottom: 15px;
}
.summary-template-holder .cart-more-options #shipping-calculate-link {
  background: #163861;
  color: #fff;
  width: 100%;
  padding: 13px 0;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.05em;
}
.summary-template-holder .summary-totalizers {
  padding: 15px;
  background: #f6f6f8;
  border: 1px solid #ddd;
  max-width: 100%;
}
.summary-template-holder .summary-totalizers table {
  background: #fff;
  border: 1px solid #ddd;
}
.summary-template-holder .summary-totalizers table .totalizers-list .info {
  line-height: 26px;
  text-align: left;
  color: #363843;
  padding-left: 10px;
  font-size: 15px;
}
.summary-template-holder .summary-totalizers table .totalizers-list .monetary {
  color: #363843;
  font-size: 15px;
  text-align: right;
  padding-right: 10px;
  width: 140px;
}
.summary-template-holder .summary-totalizers table .empty {
  display: none;
}
.summary-template-holder .summary-totalizers table tfoot .info {
  line-height: 26px;
  text-align: left;
  color: #163861;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
}
.summary-template-holder .summary-totalizers table tfoot .monetary {
  color: #163861;
  text-align: right;
  padding-right: 10px;
  width: 140px;
}
.summary-template-holder .summary-totalizers .summary-coupon {
  margin-left: 0;
  text-align: left;
  margin-bottom: 20px;
}
.summary-template-holder .summary-totalizers .summary-coupon .coupon-fieldset > p {
  display: none !important;
}
.summary-template-holder .summary-totalizers .summary-coupon .coupon-fieldset div {
  display: block !important;
}
.summary-template-holder .summary-totalizers .summary-coupon .coupon-fieldset .coupon-label label {
  font-size: 0;
}
.summary-template-holder .summary-totalizers .summary-coupon .coupon-fieldset .coupon-label label::before {
  content: "Cupom";
  font-size: 16px;
  line-height: 21px;
  color: #163861;
}
.summary-template-holder .summary-totalizers .summary-coupon .coupon-fieldset .coupon-fields {
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 6px 10px;
}
.summary-template-holder .summary-totalizers .summary-coupon .coupon-fieldset .coupon-fields span {
  display: flex;
  height: 36px;
}
.summary-template-holder .summary-totalizers .summary-coupon .coupon-fieldset .coupon-fields #cart-coupon {
  width: calc(100% - 80px);
  height: 100%;
  border: none;
  box-shadow: none;
}
.summary-template-holder .summary-totalizers .summary-coupon .coupon-fieldset .coupon-fields #cart-coupon-add {
  width: 90px;
  color: #163861;
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: bold;
}
.srp-postal-code__form,
#ship-postalCode,
.ship-postalCode {
  width: 100% !important;
}
#cart-shipping-calculate {
  position: absolute;
  right: 0;
  top: 30px;
}
#ship-postalCode {
  padding: 22px 10px;
}
#cart-shipping-calculate {
  position: absolute;
  right: 10px;
  top: 38px;
  background: #fff;
  border: none;
  color: #163861;
  background: transparent;
  font-size: 14px;
  font-weight: bold;
}
#shipping-preview-container small {
  position: absolute;
  right: 0;
  bottom: -2px;
}
#shipping-preview-container small a {
  font-weight: bold;
  text-decoration: underline;
  color: #194e8f;
}
.ship-postalCode {
  padding-bottom: 20px;
}
.ship-postalCode .help.error {
  position: absolute;
}
.cart-links-bottom {
  width: 100%;
}
.link-choose-more-products-wrapper {
  display: none !important;
}
.btn-place-order-wrapper {
  /* float: right; */
}
#cart-to-orderform {
  background: #51c828;
  border-radius: 3px;
  box-shadow: none;
  width: calc(35% - 10px);
  max-width: 100%;
  float: right;
  font-size: 0;
}
#cart-to-orderform::after {
  content: "finalizar compra";
  font-size: 16px;
  line-height: 61px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.cart-template-holder .cart-items .product-item .product-name .brand,
.cart-template-holder .cart-items .product-item .product-name .seller {
  display: none;
}
.cart-template-holder .cart-items .product-item .price-details {
  left: 50px;
  top: 5px;
}
@media (max-width: 991px) {
  .cart-template-holder,
  .summary-template-holder {
    width: 100%;
  }
  .summary-template-holder {
    margin: 0;
  }
  .cart-template-holder .cart-items .product-item {
    position: relative;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 115px auto auto;
    grid-template-rows: auto auto auto;
    gap: 0 0;
    grid-template-areas: "IMAGE NAME NAME" "QUANTITY UNITARY SUBTOTAL" "SHIPPING SHIPPING SHIPPING";
    padding: 25px 15px;
  }
  .cart-template-holder .cart-items .product-item .product-image {
    width: 100%;
    padding: 0;
  }
  .cart-template-holder .cart-items .product-item .product-image img {
    width: 100px;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 0;
  }
  .cart-template-holder .cart-items .product-item .product-name {
    margin-left: 0;
    min-height: 86px;
    display: flex;
    align-items: center;
  }
  .cart-template-holder .cart-items .product-item .product-name a {
    font-size: 15px;
    line-height: 19px;
  }
  .cart-template-holder .cart-items .product-item .quantity {
    margin-left: 0;
    width: 100%;
  }
  .cart-template-holder .cart-items .product-item .quantity-price {
    display: block;
    padding-left: 20px;
    font-size: 14px;
  }
  .cart-template-holder .cart-items .product-item .quantity::before,
  .cart-template-holder .cart-items .product-item .product-price::before,
  .cart-template-holder .cart-items .product-item .quantity-price::before {
    font-size: 14px;
  }
  .cart-template-holder .cart-items .product-item .quantity .item-quantity-change-decrement,
  .cart-template-holder .cart-items .product-item .quantity .item-quantity-change-increment {
    width: 29px;
    height: 24px;
    padding-right: 0;
  }
  .cart-template-holder .cart-items .product-item .quantity input {
    height: 24px;
    width: 34px;
    margin: 0 -1px;
    padding-right: 8px;
  }
  .cart-template-holder .cart-items .product-item .quantity .item-quantity-change-decrement .icon-minus-sign {
    line-height: 0px;
    position: relative;
    top: -3px;
  }
  .cart-template-holder .cart-items .product-item .quantity .item-quantity-change-increment {
    font-size: 18px;
    padding-left: 0;
  }
  .cart-template-holder .cart-items .product-item .quantity .item-quantity-change-increment .icon-plus-sign {
    line-height: 0px;
  }
  .cart-template-holder .cart-items .product-item .product-price {
    font-size: 14px;
  }
  .cart-template-holder .cart-items .product-item .price-details {
    display: none;
  }
  #cart-to-orderform {
    width: 100%;
  }
}
/*FIM - CART*/
/*EMAIL*/
.orderform-template {
  min-height: 385px !important;
}
.client-pre-email-h {
  display: none;
}
.client-pre-email {
  border: none;
  min-height: 350px;
}
.client-pre-email .client-email {
  margin: 0;
  width: 100%;
}
.client-pre-email #btn-client-pre-email {
  position: relative;
  width: 100%;
  background: #51c828;
  border-radius: 3px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.03em;
  margin-top: 15px;
}
.client-pre-email #client-pre-email {
  padding-left: 15px;
}
.client-pre-email .emailInfo {
  margin-top: 40px;
}
.emailInfo {
  border: none !important;
  background: #fff !important;
  width: auto !important;
}
.emailInfo .icon-lock {
  display: none !important;
}
.emailInfo h3 {
  color: #363843 !important;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.emailInfo ul {
  display: flex;
  justify-content: center;
}
.emailInfo ul li {
  width: 165px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 0 5px;
  height: 145px;
  text-align: center;
  padding: 27px 20px;
}
.emailInfo ul li i {
  display: block;
  text-align: center;
  height: 45px;
  margin-bottom: 10px;
}
.emailInfo ul li i:before {
  display: none;
}
.emailInfo ul li:nth-child(1) i {
  background-image: url(https://husqvarna.vteximg.com.br/arquivos/checkout_email-01.png);
  background-repeat: no-repeat;
  background-position: center;
}
.emailInfo ul li:nth-child(2) i {
  background-image: url(https://husqvarna.vteximg.com.br/arquivos/checkout_email-02.png);
  background-repeat: no-repeat;
  background-position: center;
}
.emailInfo ul li:nth-child(3) i {
  background-image: url(https://husqvarna.vteximg.com.br/arquivos/checkout_email-03.png);
  background-repeat: no-repeat;
  background-position: center;
}
.emailInfo ul li:nth-child(4) i {
  background-image: url(https://husqvarna.vteximg.com.br/arquivos/checkout_email-04.png);
  background-repeat: no-repeat;
  background-position: center;
}
.emailInfo ul li span {
  color: #646981 !important;
  line-height: 15px !important;
  font-size: 13px;
  display: block;
}
#orderform-to-cart {
  text-decoration-line: underline;
  color: #194e8f;
  font-weight: bold;
}
.client-pre-email .link-cart:before {
  content: "E-mail";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #363843;
  position: absolute;
  left: 0;
  top: -2px;
}
@media (max-width: 768px) {
  .emailInfo h3 {
    max-width: 240px;
    margin: 0 auto 30px auto;
  }
  .emailInfo ul {
    flex-wrap: wrap;
  }
  .emailInfo ul li {
    margin-bottom: 10px;
    width: 140px;
    padding: 15px 15px;
  }
}
/*FIM - EMAIL*/
/*DADOS PESSOAIS - PAGAMENTO*/
@media (min-width: 980px) {
  .row-fluid .orderform-template-holder {
    width: 67%;
  }
  .row-fluid .mini-cart {
    width: calc(33% - 30px);
  }
}
.orderform-template .step {
  padding: 22px 23px;
  border: 1px solid #ddd;
}
.orderform-template .step.active {
  border: 2px solid #163861 !important;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 22px 23px;
}
.orderform-template .step .icon-user::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(https://husqvarna.vteximg.com.br/arquivos/profile_icon-1.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: bottom;
}
.orderform-template #client-profile-data .step .accordion-heading span > span {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #363843;
  position: relative;
  top: -5px;
  margin-left: 4px;
}
.orderform-template .client-notice {
  display: none;
}
.orderform-template .box-client-info-pf > p,
.orderform-template .box-client-info-pf > div > p {
  width: 100%;
  margin-bottom: 10px;
}
.orderform-template .box-client-info-pf > p label,
.orderform-template .box-client-info-pf > div > p label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #363843;
}
.orderform-template .box-client-info-pf > p input,
.orderform-template .box-client-info-pf > div > p input {
  width: 100%;
  padding: 20px;
}
.orderform-template .box-client-info-pf > p input.success:not([invalid="true"]) {
  background-position: right 5px center;
}
#is-corporate-client {
  font-size: 13px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #194e8f;
  margin-top: -10px;
  display: block;
}
.newsletter-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}
.orderform-template .corporate-info-box > p {
  width: 100%;
  margin-bottom: 5px;
}
.box-client-info-pj h5 {
  font-size: 16px;
  font-weight: bold;
}
.orderform-template .corporate-info-box > p input {
  width: 100%;
  padding: 20px;
}
.orderform-template .corporate-info-box > p label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #363843;
}
.orderform-template .corporate-info-box > p input.success:not([invalid="true"]) {
  background-position: right 5px center;
}
#go-to-shipping {
  width: 100%;
  background-color: #51c828 !important;
  border-radius: 3px;
  padding: 15px 0;
  margin-top: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
#client-profile-data .form-step.box-info p > span {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px !important;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #646981;
}
.orderform-template .box-client-info-pf > div > p input.success:not([invalid="true"]) {
  background-position: right 5px center;
  width: 100%;
}
@media (max-width: 768px) {
  .box-client-info-pf {
    width: 100%;
  }
  .orderform-template-holder .client-profile-data input[type="text"] {
    width: 100% !important;
  }
  .orderform-template .step {
    padding: 5px;
    border: none !important;
    border-bottom: 1px solid #ddd !important;
    padding-bottom: 20px !important;
  }
  .orderform-template .step.active {
    border: none !important;
    padding: 5px;
    border-bottom: 1px solid #ddd !important;
    padding-bottom: 20px !important;
  }
  .orderform-template .cart-template.mini-cart .cart-fixed {
    border: none !important;
    padding: 5px !important;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px !important;
  }
  .mini-cart .summary-template-holder {
    border: none;
  }
  .orderform-template .summary-template-holder .totalizers {
    border: 1px solid #ddd !important;
  }
  .orderform-template .cart-template.mini-cart #go-to-cart-button {
    top: 5px;
  }
}
/*FIM DADOS PESSOAIS - PAGAMENTO*/
/*ENTREGA - PAGAMENTO*/
.orderform-template .step .icon-home {
  margin-right: 10px;
}
.orderform-template .step .icon-home::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(https://husqvarna.vteximg.com.br/arquivos/profile_icon-2.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: bottom;
}
.vtex-omnishipping-1-x-SummaryItemContent{
  font-size: 14px !important;
}
.orderform-template #shipping-data .step .accordion-heading span {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #363843;
  position: relative;
  display: flex;
  align-items: center;
}
#shipping-data .ship-postalCode #ship-postalCode {
  display: block;
  max-width: 100%;
}
#shipping-data .ship-postalCode {
  padding-bottom: 10px;
}
#shipping-data .ship-postalCode label {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #363843;
  margin-bottom: 6px;
  margin-top: 10px;
}
#shipping-data .ship-postalCode small {
  text-align: right;
  display: block;
  margin-top: 5px;
}
#shipping-data .ship-postalCode small a {
  text-align: right;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #194e8f;
}
#shipping-data .ship-postalCode #ship-postalCode.success:not([invalid="true"]) {
  background-position: right 5px center;
}
.vtex-omnishipping-1-x-shippingSectionTitle {
  font-weight: 700;
  font-size: 16px !important;
  line-height: 16px;
  color: #163861 !important;
}
.vtex-omnishipping-1-x-addressSummaryActive .address-summary {
  background: #fff;
  padding: 3px 0;
  border: none;
  color: #656565;
}
#force-shipping-fields {
  font-size: 14px;
  line-height: 100%;
  text-decoration-line: underline;
  color: #163861;
}

.vtex-omnishipping-1-x-address input {
  padding: 20px 10px;
}
.vtex-omnishipping-1-x-address label {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  color: #363843 !important;
}
p.ship-receiverName {
  margin-top: 20px;
}
#ship-receiverName {
  width: 100%;
}
.vtex-omnishipping-1-x-address input.success:not([invalid="true"]) {
  background-position: right 5px center;
}
#ship-complement {
  width: calc(75% - 2px);
}
.ship-number .help.error {
  font-size: 10px;
  position: absolute;
}
#btn-go-to-payment {
  width: 100%;
  background-color: #51c828 !important;
  border-radius: 3px;
  padding: 15px 0;
  margin-top: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
/*FIM ENTREGA - PAGAMENTIO*/
/*RESUMO - PAGAMENTIO*/
.orderform-template .cart-template.mini-cart .cart-fixed {
  padding: 22px 23px;
  height: auto !important;
  border-radius: 5px;
  position: relative !important;
  top: 0px;
  width: 100%;
  border: 1px solid #ddd;
}
.orderform-template .cart-template.mini-cart #go-to-cart-button {
  position: absolute;
  right: 20px;
  top: 21px;
}
.orderform-template .cart-template.mini-cart #go-to-cart-button a {
  font-size: 9px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #194e8f;
}
.orderform-template .cart-template.mini-cart .cart-fixed H2 {
  background-color: #fff;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #363843;
  position: relative;
  padding-left: 40px;
  background-image: url(https://husqvarna.vteximg.com.br/arquivos/profile_icon-4.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: left 5px center;
}
.orderform-template .summary-cart-template-holder {
  margin-top: 10px;
}
.orderform-template .summary-cart-template-holder .cart {
  padding: 5px 0;
}
.orderform-template .summary-cart-template-holder .cart-items li {
  padding: 15px 15px;
  border: none;
  background: #f6f6f8;
  border-radius: 3px;
  border: 1px solid #ddd;
}
.orderform-template .summary-cart-template-holder .cart-items li .quantity {
  position: absolute;
  left: unset;
  top: 15px;
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: 13px;
  color: #646981;
}
.orderform-template .summary-cart-template-holder .cart-items li .quantity::before {
  content: "Qtd.";
  display: block;
  margin-bottom: 6px;
}
.orderform-template .summary-cart-template-holder .cart-items li img {
  mix-blend-mode: multiply;
  width: 61px;
  height: auto;
}
.orderform-template .summary-cart-template-holder .cart-items li .product-name {
  width: calc(100% - 100px);
  color: #363843;
  font-weight: bold;
  font-size: 14px;
  text-overflow: inherit;
  white-space: inherit;
  line-height: 16px;
  width: 170px;
}
.orderform-template .summary-cart-template-holder .cart-items li .shipping-date {
  margin-top: 5px;
  font-size: 12px;
  color: #a0a4b3;
}
.orderform-template .summary-cart-template-holder .cart-items li .price {
  color: #646981;
  font-size: 13px;
  margin-top: 5px;
  font-weight: bold;
  margin-right: 0;
}
.orderform-template .summary-template-holder {
  width: 100%;
  margin-left: 0;
  margin-top: 5px;
}
.orderform-template .summary-template-holder .totalizers {
  border: none;
  padding: 10px;
}
.orderform-template .summary-template-holder tr .info,
.orderform-template .summary-template-holder tfoot .info {
  width: 100%;
}
.orderform-template .summary-template-holder tr .info,
.orderform-template .summary-template-holder tfoot .info,
.orderform-template .summary-template-holder tr .monetary,
.orderform-template .summary-template-holder tfoot .monetary {
  padding: 8px !important;
}
.orderform-template .summary-template-holder tr {
  border-bottom: 1px solid #ddd;
}
#payment-data-submit {
  width: 100%;
  background-color: #51c828 !important;
  border-radius: 3px;
  padding: 15px 0;
  margin-top: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 10px;
}
#payment-data-submit .icon-lock {
  display: none;
}
@media (max-width: 768px) {
  .orderform-template .summary-cart-template-holder .cart-items li .quantity {
    right: 20px;
  }
  .mini-cart .description {
    margin-top: 28px;
  }
}
/*FIM RESUMO - PAGAMENTIO*/
/*PAGAMENTO - PAGAMENTIO*/
.orderform-template .step .icon-credit-card {
  margin-right: 5px;
}
.orderform-template .step .icon-credit-card::before {
  content: "";
  width: 30px;
  height: 23px;
  background-image: url(https://husqvarna.vteximg.com.br/arquivos/profile_icon-3.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  top: 2px;
}
.orderform-template #payment-data .step .accordion-heading > span > i + span {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #363843;
  position: relative;
}
.link-gift-card a {
  color: #194e8f;
}
.payment-group {
  margin-top: 0;
}
.payment-group .payment-group-item {
  margin-left: 0;
}
#payment-data .box-step-content .form-step {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 30fr 70fr;
  grid-template-rows: auto auto;
  gap: 0 0;
  grid-template-areas: "PRESENTE PRESENTE" "NAV STEPS";
}
.link-gift-card {
  grid-area: PRESENTE;
  display: block;
  position: relative;
  left: 0;
  font-size: 12px;
  line-height: 5px;
  text-decoration-line: underline;
  margin-bottom: 25px;
}
.payment-group {
  grid-area: NAV;
  z-index: 2;
}
.payment-group .payment-group-list-btn {
  width: 100%;
  border: 1px solid #dddddd;
  position: relative;
  right: -1px;
  padding-bottom: 2px;
  border-radius: 3px 0px 0px 3px;
  border-right: none;
}
.payment-group .payment-group-list-btn a {
  display: block;
  width: 100%;
  opacity: 0.7;
  background: #f6f6f8;
  box-sizing: border-box;
  padding: 0;
  color: #646981;
  text-decoration: none;
  border: none;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.payment-group .payment-group-list-btn a span {
  background-position: left 14px center;
  padding-left: 50px;
}
.payment-group .payment-group-list-btn a:last-child {
  border-bottom: none;
}
.payment-group .payment-group-list-btn a.active {
  display: block;
  width: 100%;
  opacity: 1;
  background: #fff;
  box-sizing: border-box;
  font-weight: 600;
  color: #363843;
  border-right: none;
}

#payment-group-bankInvoicePaymentGroup .payment-group-item-text {
  background-image: url(https://husqvarna.vteximg.com.br/arquivos/ico-boleto.png?v=2);
  background-size: 22px;
}
#payment-group-creditCardPaymentGroup .payment-group-item-text,
#payment-group-PayPalPlusPaymentGroup .payment-group-item-text {
  background-image: url(https://husqvarna.vteximg.com.br/arquivos/ico-card.png?v=2);
  background-size: 22px;
}
.steps-view {
  grid-area: STEPS;
  background: #fff;
  border: 1px solid #dddddd;
  z-index: 1;
  padding: 50px 80px;
  width: 100%;
}
.steps-view .payment-description {
  color: #363843;
}
.steps-view .sight {
  color: #363843;
  margin-top: 10px;
}
.steps-view .sight span:last-child {
  font-weight: bold;
}
.SecurityEnvironmentIcon {
  display: none !important;
}
.CardForm > div:nth-child(1) .PaymentCardNumber input {
  width: 100%;
}
.CardForm > div:nth-child(1) .PaymentCardFlags .card-flags {
  display: flex !important;
  justify-content: space-evenly !important;
  margin: 12px 0;
}
.PaymentInstallments select {
  width: 100%;
  max-width: 100%;
}
.PaymentCardHolderName {
  margin-top: 10px;
}
.PaymentCardHolderName input {
  padding: 16px 10px;
  width: 100%;
}
.PaymentCardDueDate,
.PaymentCardCVV,
.BillingAddress,
.PaymentCardValue {
  margin-top: 10px;
}
.BillingAddress .AddressToggle label {
  font-size: 12px;
}
.PaymentCardValue .input-prepend span {
  padding: 15px;
  line-height: 1px;
}
.PaymentCardValue .input-prepend input {
  padding: 15px;
}
.PaymentLabel h5 {
  font-size: 17px;
  font-weight: bold;
  color: #363843;
  margin-bottom: 10px;
}
.CardForm + .CardForm {
  margin-top: 15px;
}
.ChangeNumberOfPayments a {
  width: 60%;
  background-color: #163861 !important;
  border-radius: 3px;
  padding: 8px 0;
  margin-top: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 10px;
  display: block;
  float: right;
  text-decoration: none;
}
.BillingAddress h5 {
  font-size: 17px;
  font-weight: bold;
  color: #363843;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  #payment-data .box-step-content .form-step {
    grid-template-areas: "PRESENTE PRESENTE" "NAV NAV" "STEPS STEPS";
  }
  .steps-view {
    padding: 20px 20px;
  }
  .ChangeNumberOfPayments a {
    width: 190px;
  }
  .payment-group {
    width: 100%;
  }
  .payment-group .payment-group-list-btn a.active {
    border-right: 1px solid #ddd;
  }
  .payment-group .payment-group-list-btn a span {
    background-position: left 50px center;
    padding: 14px 20px 14px 81px;
    position: relative;
  }
  .payment-group .payment-group-list-btn a span::before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 18px;
    border: 2px solid #ddd;
    position: absolute;
    display: block;
    left: 15px;
    top: 18px;
  }
  .payment-group .payment-group-list-btn a.active span::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 10px;
    position: absolute;
    display: block;
    left: 20px;
    top: 23px;
    background: #fff;
  }
  .payment-group .payment-group-list-btn a.active span::before {
    background: #1b4f90;
    border-color: #1b4f90;
  }
  .link-gift-card {
    width: 100%;
    margin: 15px 0 30px 0px !important;
  }
}
/*FIM PAGAMENTO - PAGAMENTIO*/
