/*RESET*/
html {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  background-color: #fff;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled],
.btn-success {
  border: none;
  background-image: none;
  background-color: #51c828 !important;
  text-shadow: none;
}
#overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(130, 130, 130, 0.5);
  position: fixed;
  transition: opacity 300ms ease;
  visibility: hidden;
  z-index: 999999;
}
#overlay.active {
  opacity: 1;
  visibility: visible;
}
/*RESET*/
/*BUTTONS*/
#cart-to-orderform {
  padding: 0;
  display: block;
  width: 400px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  font-weight: bold;
  background: #51c828;
  box-shadow: 0px 4px 8px #51c828;
}
/*FIM - BUTTONS*/
/*HEADER*/
header {
  margin-bottom: 5px;
}
header .row_1 {
  display: flex;
  justify-content: space-between;
}
header .row_1 p {
  /* display: flex; */
  display: none;
  align-items: center;
}
header .row_1 p i {
  margin-right: 7px;
}
/*FIM - HEADER*/

/*FOOTER*/
#termos_uso {
  display: none;
}
footer {
  background-color: #fff;
}
footer .columns {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
footer .columns .column p {
  color: #163861;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
footer .columns .column ul {
  display: flex;
  align-items: center;
}
footer .columns .column ul li:not(:last-child) {
  margin-right: 15px;
}
footer + .copyright {
  margin: 15px 0 30px 0;
  text-align: center;
}
@media (max-width: 768px) {
  footer .columns {
    flex-wrap: wrap;
    padding: 40px 15px;
  }
  footer .columns .column {
    margin-bottom: 45px;
  }
}
/*FIM - FOOTER*/

/*STEP BAR*/
.step_bar {
  display: block !important;
  border-top: 1px solid #ddd;
}
.step_bar__wrapper {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1245px;
  margin: 40px auto;
  list-style: none;
}
.step_bar__item {
  margin-right: 60px;
}
.step_bar__item a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #363843;
  text-decoration: none;
}
.step_bar__item.step_bar__item--four a {
  font-weight: bold;
  font-size: 22px;
  color: #163861;
}
.step_bar__item--one a::before {
  content: "1. ";
}
.step_bar__item--two a::before {
  content: "2. ";
}
.step_bar__item--three a::before {
  content: "3. ";
}
.step_bar__item--four a::before {
  content: "4. ";
}
@media (max-width: 768px) {
  .step_bar {
    /* display: none !important; */
  }
  .step_bar__wrapper {
    width: 350px;
    justify-content: space-between;
    position: relative;
  }
  .step_bar__wrapper::before {
    content: "";
    width: calc(100% - 60px);
    height: 2px;
    background: #ddd;
    display: block;
    position: absolute;
    top: 7px;
    left: 25px;
  }
  .step_bar__item {
    margin-right: 00px;
    position: relative;
  }
  .step_bar__item::before {
    content: "";
    width: 45px;
    height: 35px;
    display: block;
    position: absolute;
    background: #fff;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
  }
  .step_bar__item a {
    color: #dddddd;
    font-size: 15px;
    position: relative;
    padding-top: 35px;
    display: block;
  }
  .step_bar__item.step_bar__item--four a {
    font-size: 15px;
    color: #363843;
    font-weight: normal;
  }
  .step_bar__item a::before {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    background: #ddd;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
  }
  .step_bar__item.older a::after {
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    border: 2px solid #ddd;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
  }
  .step_bar__item.step_bar__item--four a::after {
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    border: 2px solid #163861;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
  }
  .step_bar__item.step_bar__item--four a::before {
    background: #163861;
  }
}
/*FIM STEP BAR*/

/*CONTEUDO*/
#app-container .w-70-ns,
#app-top > .w-70-ns {
  max-width: 1200px;
  width: 100%;
}
#app-top h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #363843;
}
#app-top .bg-washed-green {
  background: #f6f6f8;
  border-radius: 3px;
  text-align: center;
  border: none;
}
#app-top .bg-washed-green > div > span {
  display: none;
}
#app-top .bg-washed-green > div > div:nth-child(2) p,
#app-top .bg-washed-green > div > div:nth-child(3) > div span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #646981;
}
#app-top .bg-washed-green > div > div:nth-child(3) {
  margin-top: 5px;
}
#app-top .bg-washed-green > div > div:nth-child(2) p .cconf-client-email {
  color: #194e8f;
  font-weight: 700;
}
#app-top .cconf-bank-invoice-data {
  margin-top: 50px;
}
#app-top .cconf-bank-invoice-data__header + .flex-l,
#app-top .cconf-bank-invoice-data > div {
  align-items: center;
}
#app-top .cconf-bank-invoice-data__header + .flex-l {
  justify-content: space-between;
}
#app-top .cconf-bank-invoice-data__header span {
  font-weight: 700;
  font-size: 19px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #363843;
}
#app-top .cconf-bank-invoice-data__top__left {
  background: #f6f6f8;
  border-radius: 3px;
  padding: 30px;
  max-width: 755px;
}
#app-top .cconf-bank-invoice-data__number {
  background: #fff;
  display: inline;
}
#app-top .vtex-text-copy__button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #163861;
  background: #fff;
  border: none;
}
#app-top .vtex-text-copy__text {
  border: none;
}
#app-top .vtex-text-copy {
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 3px;
  display: inline;
  margin: 0 auto;
}
#app-top .cconf-bank-invoice-data__top__aside .cconf-bank-invoice__open button,
#app-top .cconf-bank-invoice-data__print a {
  background: #51c828;
  border-radius: 3px;
  box-shadow: none;
  border: none;
  padding: 20px 30px;
}
#app-top .cconf-bank-invoice-data__top__aside__text {
  margin: 0;
}
#app-top .cconf-bank-invoice-data__top__aside__text > span,
#app-top .cconf-bank-invoice-data__print a > span > span:nth-child(1) {
  display: none;
}
#app-top .cconf-bank-invoice-data__top__aside .cconf-bank-invoice__open button span,
#app-top .cconf-bank-invoice-data__print a > span > span:nth-child(2) {
  font-weight: 700;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
#app-container {
  margin-top: 50px;
}
#app-container .mb2 .fw4 {
  font-weight: 700;
  font-size: 25px;
  line-height: 42px;
  letter-spacing: -0.02em;
  color: #363843;
}
#app-container .cconf-profile,
#app-container .cconf-payment,
#app-container .cconf-summary {
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 20px 30px;
  margin: 0 7px;
  width: calc(33% - 14px);
}
#app-container .cconf-profile h3 {
  background-image: url(https://husqvarna.vteximg.com.br/arquivos/profile_icon-1.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
}
#app-container .cconf-payment h3 {
  background-image: url(https://husqvarna.vteximg.com.br/arquivos/profile_icon-3.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
}
#app-container .cconf-summary h3 {
  background-image: url(https://husqvarna.vteximg.com.br/arquivos/profile_icon-4.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
}
#app-container > div > div > .cf > .cf:nth-child(3) h4 {
  background-image: url(https://husqvarna.vteximg.com.br/arquivos/profile_icon-2.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
}
#app-container .cconf-profile h3 span,
#app-container .cconf-payment h3 span,
#app-container .cconf-summary h3 span,
#app-container > div > div > .cf > .cf:nth-child(3) h4 span {
  font-weight: 700;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #363843;
}
#app-container .cconf-summary .lh-copy {
  padding: 20px;
  background: #f6f6f8;
  border-radius: 3px;
  margin-top: 14px;
  display: block;
}
#app-container .cconf-summary .lh-copy p {
  background: #fff;
  padding: 12px 15px;
  color: #363843;
  font-size: 13px;
}
#app-container .cconf-summary .lh-copy p:nth-child(1) {
  border-radius: 5px 5px 0px 0px;
}
#app-container .cconf-summary .lh-copy p:last-child {
  border-radius: 0px 0px 5px 5px;
  color: #163861;
  font-weight: bold;
  font-size: 18px;
}
#app-container > div > div > .cf > .cf:nth-child(3) > div:nth-child(1) {
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 25px 30px;
}
#app-container > div > div > .cf > .cf:nth-child(3) > div:nth-child(1) > div {
  background: #fff;
  padding: 0;
}
#app-container > div > div > .cf > .cf:nth-child(4) {
  display: flex;
  justify-content: center;
  margin: 20px 0px 40px 0px;
}
#app-container > div > div > .cf > .cf:nth-child(4) .cconf-myorders-button {
  background: #163861;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: none;
  order: 2;
}
#app-container > div > div > .cf > .cf:nth-child(4) .cconf-continue-button {
  background: #a0a4b3;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  order: 1;
  color: #fff;
  border: none;
}
@media (max-width: 768px) {
  #app-container .w-70-ns,
  #app-top > .w-70-ns {
    margin: 0 15px;
    width: calc(100% - 30px);
  }
  #app-container .cconf-profile,
  #app-container .cconf-payment,
  #app-container .cconf-summary {
    width: 100%;
    margin: 10px 0;
  }
  #app-container > div > div > .cf > .cf:nth-child(4) .cconf-myorders-button,
  #app-container > div > div > .cf > .cf:nth-child(4) .cconf-continue-button {
    font-size: 12px;
    padding: 14px 15px;
  }
}
/*FIM CONTEUDO*/
