/*RESET*/
html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #f5f5f5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled],
.btn-success {
  border: none;
  background-image: none;
  background-color: #51c828 !important;
  text-shadow: none;
}

#overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(130, 130, 130, 0.5);
  position: fixed;
  transition: opacity 300ms ease;
  visibility: hidden;
  z-index: 999999;
}

#overlay.active {
  opacity: 1;
  visibility: visible;
}
/*RESET*/

/*TERMOS DE USO - PJ*/
#termos_uso {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
  transform: scale(0);
  transition: all 300ms;
}

#termos_uso.active {
  transform: scale(1);
}

#termos_uso .fechar {
  display: block;
  height: 0;
  float: right;
  margin-top: -37px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-right: -15px;
  text-align: right;
}

#termos_uso .content {
  max-width: 600px;
  padding: 15px;
  background-color: #fff;
}

//IPHONE5
@media screen and (max-width: 360px) {
  #termos_uso .content .text {
    max-height: 300px;
    overflow-x: hidden;
  }
}

#termos_uso .content .text p {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

#termos_uso .content .buttons {
  margin-top: 20px;
}

#termos_uso .content .buttons ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#termos_uso .content .buttons a {
  display: block;
  font-size: 16px;
}

#termos_uso .content .buttons a.cancel {
  color: gray;
}

#termos_uso .content .buttons a.accept {
  padding: 0 20px;
  height: 40px;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  line-height: 40px;
  background-color: #163861;
}
/*TERMOS DE USO - PJ*/

/*BRINDE*/
.cart-active .cart-select-gift-placeholder {
  margin-bottom: 20px;
  max-width: 300px;
}

h2.available-gift-quantity {
  line-height: 18px;
  margin-bottom: 10px;
}
/*FIM - BRINDE*/

/*RETIRAR NA LOJA*/
#shipping-preview-container .srp-toggle.mb6.pb2.ml1.mr3 {
  width: 170px;
}

.shipping-method-toggle.vtex-omnishipping-1-x-deliveryChannelsToggle.shipping-method-toggle-delivery,
#shipping-preview-container .w-50 {
  width: 100%;
}

#shipping-option-pickup-in-point,
#shipping-preview-container .srp-toggle__pickup {
  display: none;
}
/*FIM - RETIRAR NA LOJ*/

/*BUTTONS*/
#cart-to-orderform {
  padding: 0;
  display: block;
  width: 400px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  font-weight: bold;
  background: #51c828;
  box-shadow: 0px 4px 8px #51c828;
}
/*FIM - BUTTONS*/

/*HEADER*/
header {
  margin-bottom: 30px;
}

header .row_1 {
  display: flex;
  justify-content: space-between;
}

header .row_1 p {
  display: flex;
  align-items: center;
}

header .row_1 p i {
  margin-right: 7px;
}
/*FIM - HEADER*/

/*MAIN*/
/*CUPOM*/

@media screen and (min-width: 810px) {
  form.coupon-form {
    position: absolute;
    right: 350px;
    margin-top: -17px;
  }

  .cart-active .summary-coupon {
    margin-bottom: 0 !important;
    margin-left: 0;
  }

  #cart-coupon {
    border: 1px solid #dcdcdc;
  }
}

form.coupon-form div[data-bind="fadeVisible: isUsingCoupon()"] {
  display: block !important;
}

form.coupon-form p.coupon-data {
  display: none !important;
}

form.coupon-form p.coupon-label label {
  font-weight: bold;
  text-align: left;
}

form.coupon-form .coupon-fields {
  padding: 5px 0px;
  background-color: white;
}

#cart-coupon {
  border: none;
  box-shadow: none;
}

#cart-coupon-add {
  background-color: transparent;
  border: none;
  background: white;
  text-shadow: none;
  color: #51c828;
  font-weight: bold;
  border-left: 1px solid #dcdcdc;
  border-radius: 0;
}
/*FIM - CUPOM*/

#cart-title,
#orderform-title,
#orderform-sac-title {
  opacity: 0;
  display: none !important;
}

.step,
.cart,
.totalizers {
  border-color: #fff;
  background-color: #fff;
}

.cart-template .cart {
  padding: 0;
  margin: 0;
  border: none;
  background-color: initial;
}

.cart-template .cart thead tr th {
  color: #000;
}

a.item-link-remove .icon-remove {
  width: 20px;
  height: 20px;
  background-image: url(/arquivos/ico-trash.png);
  background-size: 80%;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

a.item-link-remove .icon-remove:before {
  display: none;
}

.cart-template .cart .product-item {
  background-color: #fff;
}

.cart-template .cart .product-name a {
  color: #000;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  text-decoration: none;
}

@media screen and (min-width: 810px) {
  .cart .product-image img {
    height: auto !important;
    max-width: 150px !important;
    width: 150px !important;
  }
}

.cart .quantity-price span {
  color: #163861;
  font-weight: bold;
  line-height: 21px;
}

.srp-delivery-info.mb6 {
  background-color: white;
}

/*COUNT*/
.item-quantity-change {
  width: 20px;
  height: 20px;
  display: inline-block;
  padding: 0;
}

.item-quantity-change i {
  font-weight: bold;
}

.item-quantity-change.item-quantity-change-increment {
  color: #fff;
  background-color: #51c828;
}

.item-quantity-change.item-quantity-change-increment i:before {
  content: "+";
}

.item-quantity-change.item-quantity-change-decrement i:before {
  content: "-";
  position: relative;
  top: -2px;
}

.item-quantity-change.item-quantity-change-decrement {
  border: 1px solid #dcdcdc;
}

td.quantity input {
  background: #e5e5e5;
  border-radius: 0;
  border: none;
  margin: 0 1px;
}
/*FIM - COUNT*/

.cart-links-bottom {
  width: 100%;
}

.srp-toggle__wrapper.flex.br-pill.shadow-4.relative.shipping-has-pickups {
  background-color: #fff;
}

.cart-template .cart-more-options.span7 {
  margin-left: 0px;
}

#shipping-preview-container h2 {
  font-weight: bold;
  line-height: 1.5rem;
}

.cart-links-bottom .link-choose-more-products-wrapper {
  float: left;
}

.cart-links-bottom .btn-place-order-wrapper {
  float: right;
}

.cart-active .cart-select-gift-placeholder {
  float: inherit;
}

.summary-template-holder {
  padding: 40px 0;
}

#cart-choose-more-products {
  width: 320px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  background-color: #c1c1c1;
}

.full-cart .summary-totalizers {
  width: 30%;
  padding: 15px;
  background-color: #fff;
}

.full-cart .summary-totalizers .table tfoot tr td {
  font-weight: bold;
}

.full-cart .summary-totalizers .monetary {
  text-align: right;
  padding: 5px;
}

.full-cart .summary-totalizers .info {
  text-align: left;
}

.full-cart .summary-totalizers tr {
  border-bottom: 0;
}

.full-cart .summary-totalizers tr td {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.full-cart .summary-totalizers .empty {
  width: 0px;
}
/*FIM - MAIN*/

/*FOOTER*/
footer {
  background-color: #fff;
}

footer .columns {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

footer .columns .column p {
  color: #163861;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

footer .columns .column ul {
  display: flex;
  align-items: center;
}

footer .columns .column ul li:not(:last-child) {
  margin-right: 15px;
}

footer + .copyright {
  margin: 15px 0 30px 0;
  text-align: center;
}
/*FIM - FOOTER*/

@media screen and (max-width: 810px) {
  body {
    margin: 0 15px;
  }

  #cart-to-orderform,
  #cart-choose-more-products,
  .full-cart .summary-totalizers {
    width: 100%;
  }

  .cart-links-bottom .btn-place-order-wrapper,
  .cart-links-bottom .link-choose-more-products-wrapper {
    float: none;
  }

  form.coupon-form {
    text-align: left;
  }

  footer .columns {
    flex-direction: column;
  }

  footer .columns .column:not(:last-child) {
    margin-bottom: 30px;
  }

  footer .columns .column p {
    text-align: center;
  }

  footer .columns .column ul {
    justify-content: center;
  }
}

span.brand-name {
  display: none;
}

small.seller.muted {
  display: none;
}

@media (max-width: 490px) {
  .full-cart .cart table tbody tr td.product-name .seller {
    display: none;
  }
  span.new-product-price {
    padding-right: 30px;
  }
  .ibama-text {
    width: 90%;
  }
}

/*início - BANNER PR*/
.promo-pr {
  background: #163861;
  color: #fff;
  margin: 0 0 20px 0;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.note-text {
  font-weight: normal;
  font-size: 11px;
  text-align: center;
}

/*fim - BANNER PR*/
