<!-- COUNTDOWN BLACKFRIDAY -->
<p id="demo" style="display: none"></p>

<section class="fac_bar" style="display: block !important;">
    <p>SAC INDISPONÍVEL NOS DIAS 24, 25, 31/12 E 01/01</p>
</section>
<section id="barra_frete">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
                <div class="content">
                    <i><svg xmlns="http://www.w3.org/2000/svg" width="45" height="30" viewBox="0 0 45 30" fill="none"><path d="M35.9767 21.9355C34.9014 21.9355 33.8799 22.3566 33.1093 23.1183C32.3387 23.8889 31.9086 24.8925 31.9086 25.9677C31.9086 27.043 32.3298 28.0466 33.1093 28.8172C33.8889 29.5789 34.9014 30 35.9767 30C38.181 30 39.9731 28.19 39.9731 25.9677C39.9731 23.7455 38.181 21.9355 35.9767 21.9355ZM35.9767 28.2079C34.7401 28.2079 33.7007 27.1864 33.7007 25.9677C33.7007 24.7491 34.7401 23.7276 35.9767 23.7276C37.1953 23.7276 38.181 24.7312 38.181 25.9677C38.181 27.2043 37.1953 28.2079 35.9767 28.2079ZM37.0161 8.50358C36.8548 8.35125 36.6398 8.27061 36.4158 8.27061H31.819C31.3262 8.27061 30.9229 8.67383 30.9229 9.16667V16.5143C30.9229 17.0072 31.3262 17.4104 31.819 17.4104H39.1129C39.6057 17.4104 40.009 17.0072 40.009 16.5143V11.595C40.009 11.3441 39.9014 11.1022 39.7133 10.9319L37.0161 8.50358ZM38.2169 15.6183H32.7151V10.0538H36.0663L38.2169 11.9892V15.6183ZM14.095 21.9355C13.0197 21.9355 11.9982 22.3566 11.2276 23.1183C10.457 23.8889 10.0269 24.8925 10.0269 25.9677C10.0269 27.043 10.448 28.0466 11.2276 28.8172C12.0072 29.5789 13.0197 30 14.095 30C16.2993 30 18.0914 28.19 18.0914 25.9677C18.0914 23.7455 16.2993 21.9355 14.095 21.9355ZM14.095 28.2079C12.8584 28.2079 11.819 27.1864 11.819 25.9677C11.819 24.7491 12.8584 23.7276 14.095 23.7276C15.3136 23.7276 16.2993 24.7312 16.2993 25.9677C16.2993 27.2043 15.3136 28.2079 14.095 28.2079ZM8.11828 23.0376H6.3172V20.6541C6.3172 20.1613 5.91398 19.7581 5.42115 19.7581C4.92832 19.7581 4.52509 20.1613 4.52509 20.6541V23.9337C4.52509 24.4265 4.92832 24.8297 5.42115 24.8297H8.11828C8.61111 24.8297 9.01434 24.4265 9.01434 23.9337C9.01434 23.4409 8.61111 23.0376 8.11828 23.0376ZM12.6613 18.1541C12.6613 17.6613 12.2581 17.2581 11.7652 17.2581H0.896057C0.403226 17.2581 0 17.6613 0 18.1541C0 18.647 0.403226 19.0502 0.896057 19.0502H11.7652C12.2581 19.0502 12.6613 18.6559 12.6613 18.1541ZM2.71505 14.9194L13.5842 14.9821C14.0771 14.9821 14.4803 14.5878 14.4892 14.095C14.4982 13.5932 14.095 13.19 13.6022 13.19L2.73298 13.1272C2.72401 13.1272 2.72401 13.1272 2.72401 13.1272C2.23118 13.1272 1.82796 13.5215 1.82796 14.0143C1.819 14.5161 2.22222 14.9194 2.71505 14.9194ZM4.54301 10.8513H15.4122C15.905 10.8513 16.3082 10.448 16.3082 9.9552C16.3082 9.46236 15.905 9.05914 15.4122 9.05914H4.54301C4.05018 9.05914 3.64695 9.46236 3.64695 9.9552C3.64695 10.448 4.05018 10.8513 4.54301 10.8513ZM43.6738 9.64158L37.2581 4.32796C37.0968 4.19355 36.8996 4.12186 36.6846 4.12186H29.1398V0.896057C29.1398 0.403226 28.7366 0 28.2437 0H5.42115C4.92832 0 4.52509 0.403226 4.52509 0.896057V7.4552C4.52509 7.94803 4.92832 8.35126 5.42115 8.35126C5.91398 8.35126 6.3172 7.94803 6.3172 7.4552V1.79211H27.3566V23.0376H20.009C19.5161 23.0376 19.1129 23.4409 19.1129 23.9337C19.1129 24.4265 19.5161 24.8297 20.009 24.8297H30.9498C31.4427 24.8297 31.8459 24.4265 31.8459 23.9337C31.8459 23.4409 31.4427 23.0376 30.9498 23.0376H29.1487V5.91398H36.371L42.2133 10.7527L42.1505 23.0197H41.2186C40.7258 23.0197 40.3226 23.4229 40.3226 23.9158C40.3226 24.4086 40.7258 24.8118 41.2186 24.8118H43.0376C43.5305 24.8118 43.9337 24.4176 43.9337 23.9247L44.0054 10.3405C43.9964 10.0717 43.8799 9.81183 43.6738 9.64158Z" fill="white"/></svg></i>
                    <!-- MESSAGE VIA JAVASCRIPT -->
                    <p class="message">...</p>
                    <div class="status"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</section>

<header>
    <div class="row_1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <ul>
                        <li class="welcome">
                            <p>
                                <i><svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" viewBox="0 0 18 22" fill="none"><path d="M8.99722 12.9613C10.7932 12.9613 10.7555 12.9613 10.7555 13.5373V17.169H13.2045V7.10052H10.7555V10.1186C10.7555 10.7071 10.7932 10.7071 8.99722 10.7071C7.20127 10.7071 7.23895 10.7071 7.23895 10.1186V7.10052H4.77737V17.169H7.22639V13.5373C7.22639 12.9613 7.18871 12.9613 8.99722 12.9613Z" fill="white"/><path d="M8.99722 0C9.91404 0 10.5169 0.162798 10.7681 0.21289C10.6425 1.39005 10.6801 2.32927 10.7681 2.59226C11.0695 3.49391 12.8152 3.91969 13.5185 3.49391C14.2972 3.01804 14.1213 1.60294 14.1213 0.663717C14.1213 0.663717 15.2642 0.939223 15.9675 1.20221C16.5327 1.4151 17.3741 1.82835 17.3741 1.82835C17.5374 3.01804 17.3867 4.77126 16.2061 5.35984C17.0853 6.24897 17.3867 7.28837 17.7635 9.21691C18.0649 10.9451 18.0021 12.1598 17.977 13.1617C17.8891 14.5267 17.8891 15.278 17.5625 16.5178C17.0978 17.9454 16.8215 18.6091 15.867 19.5985C13.9455 21.6147 10.8057 21.4894 8.99722 21.4894C7.18872 21.4894 4.0615 21.6021 2.1274 19.5985C1.18547 18.6091 0.90917 17.9329 0.431925 16.5178C0.105389 15.278 0.105389 14.5267 0.0174752 13.1617C0.00491612 12.1473 -0.0704383 10.9451 0.23098 9.21691C0.607753 7.28837 0.90917 6.23644 1.78831 5.35984C0.620311 4.77126 0.457043 3.00552 0.620311 1.82835C0.620311 1.82835 1.46177 1.4151 2.02693 1.20221C2.73024 0.939223 3.87312 0.663717 3.87312 0.663717C3.87312 1.60294 3.69729 3.01804 4.47595 3.49391C5.17926 3.90717 6.92497 3.49391 7.22639 2.59226C7.31431 2.31675 7.35198 1.37753 7.22639 0.21289C7.47757 0.162798 8.06785 0 8.99722 0ZM8.98466 18.9473C11.0946 18.9473 11.7602 18.9473 12.8026 18.6592C13.1668 18.534 13.8074 18.3587 14.2846 17.6073C15.1512 16.1296 15.1512 13.3495 15.1512 12.0095C15.1512 10.6696 15.1512 8.31526 14.2846 6.85007C13.8199 6.09869 13.1794 5.8858 12.8026 5.78562C11.7351 5.49759 11.0569 5.52263 8.98466 5.51011C6.91242 5.51011 6.22167 5.49759 5.1667 5.78562C4.80249 5.8858 4.16197 6.09869 3.68473 6.85007C2.81815 8.31526 2.81815 10.6696 2.81815 12.0095C2.81815 13.3495 2.81815 16.1171 3.68473 17.6073C4.14942 18.3462 4.80249 18.534 5.1667 18.6592C6.20911 18.9473 6.8873 18.9473 8.98466 18.9473Z" fill="white"/></svg></i>
                                Seja bem vindo- a Loja Oficial da Husqvarna
                            </p>
                        </li>
                        
                        <li class="options">
                            <ol>
                                <li>
                                    <a href="https://www.husqvarna.com/br/">
                                        <i><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none"><path d="M7.49367 0C4.36919 0 1.84167 2.52752 1.84167 5.65199C1.84167 7.27773 2.65455 8.75106 3.45471 10.1101C4.4327 11.7994 5.6012 13.3743 6.96022 14.7714C7.25234 15.0761 7.73511 15.0761 8.03981 14.7714C9.23372 13.5902 10.2879 12.2566 11.177 10.834C12.1296 9.29708 13.1584 7.51893 13.1584 5.65199C13.1457 2.54022 10.6181 0 7.49367 0ZM7.49367 8.92887C5.6012 8.92887 4.06437 7.39204 4.06437 5.49958C4.06437 3.60711 5.6012 2.07028 7.49367 2.07028C9.38613 2.07028 10.923 3.59441 10.923 5.49958C10.923 7.40474 9.38613 8.92887 7.49367 8.92887Z" fill="white"/></svg></i>
                                        Encontre uma Revenda
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="tel:080000229801">
                                        <i><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none"><g clip-path="url(#clip1)"><path d="M11.404 9.92279C10.9139 9.43898 10.3021 9.43898 9.81518 9.92279C9.44374 10.2911 9.0723 10.6594 8.7071 11.034C8.60721 11.137 8.52294 11.1588 8.4012 11.0902C8.16086 10.9591 7.90491 10.853 7.67393 10.7094C6.59706 10.032 5.69499 9.16118 4.89592 8.18107C4.49951 7.69414 4.14679 7.17288 3.90021 6.58606C3.85026 6.46745 3.85963 6.38941 3.95639 6.29265C4.32783 5.9337 4.68991 5.56538 5.05511 5.19706C5.56389 4.68515 5.56389 4.08585 5.05199 3.57083C4.7617 3.27742 4.47141 2.99025 4.18113 2.69685C3.88148 2.3972 3.58495 2.09442 3.28218 1.7979C2.79212 1.32033 2.18034 1.32033 1.6934 1.80102C1.31884 2.16934 0.959886 2.54702 0.57908 2.9091C0.226366 3.24308 0.0484489 3.65198 0.0109926 4.12955C-0.0483132 4.90677 0.14209 5.64029 0.410526 6.35508C0.959886 7.8346 1.79641 9.1487 2.81085 10.3535C4.18113 11.9829 5.81672 13.272 7.73011 14.2022C8.59161 14.6204 9.48432 14.9419 10.4551 14.995C11.123 15.0325 11.7036 14.8639 12.1687 14.3426C12.4871 13.9868 12.846 13.6622 13.1831 13.322C13.6825 12.8163 13.6857 12.2045 13.1894 11.7051C12.5963 11.1089 12.0001 10.5159 11.404 9.92279Z" fill="white"/><path d="M10.8079 7.43508L11.9596 7.23843C11.7786 6.18029 11.2792 5.22203 10.5207 4.46042C9.71851 3.65823 8.70407 3.15257 7.58663 2.99651L7.42432 4.15453C8.28893 4.27626 9.07551 4.66643 9.69666 5.28758C10.2835 5.8744 10.6674 6.61728 10.8079 7.43508Z" fill="white"/><path d="M12.6088 2.42842C11.2791 1.09872 9.59667 0.259073 7.73946 0L7.57715 1.15802C9.18153 1.38276 10.6361 2.11004 11.7847 3.25558C12.8741 4.34493 13.5889 5.72145 13.848 7.23531L14.9997 7.03866C14.697 5.28446 13.8698 3.69257 12.6088 2.42842Z" fill="white"/></g><defs><clipPath id="clip1"><rect width="15" height="15" fill="white"/></clipPath></defs></svg></i>
                                        0800 022 9801
                                    </a>
                                </li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!--<div class="promo-pr">-->
    <!--    <p class="main-text">Aproveite agora o <span class="" style="color:#ff6731">CUPOM* 'PR50'</span> e GANHE R$50,00 DE DESCONTO E <span class="" style="color:#ff6731">FRETE GRÁTIS</span> nas compras acima de R$500,00</p>-->
    <!--    <p class="note-text">*Válido somente para o Estado do Paraná *Não é válido para produtos da linha Construção</p>-->
    <!--</div>-->
    
    <div class="row_2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="columns">
                        <div class="column column_0 dis-none">
                            <div id="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        
                        <div class="column column_1">
                            <a href="/">
                                <img src="/arquivos/logo.png" alt="Husqvarna" />
                            </a>
                        </div>
                        
                        <div class="column column_2">
                            <form id="busca">
                                <fieldset>
                                    <input type="text" placeholder="O que você precisa?" />
                                    <input type="submit" />
                                    <span class="close">X</span>
                                </fieldset>
                            </form>
                            
                            <div class="result">
                                <div class="digitando"></div>
                                
                                <div class="slider">
                                    <button class="slick-arrow slick-prev"></button>
                                    <ul></ul>
                                    <button class="slick-arrow slick-next"></button>
                                </div>
                                
                                <a href="#" class="view dis-none">Ver todos os produtos</a>
                            </div>
                        </div>
                        
                        <div class="column column_3">
                            <ul class="menu_apoio">
                                <li>
                                    <a href="/account" title="Minha conta" class="box_account">
                                        <i><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><path d="M11.16 13.4C11.16 18.28 15.12 22.24 20 22.24C24.88 22.24 28.84 18.28 28.84 13.4C28.84 8.52001 24.88 4.52 20 4.52C15.12 4.52 11.16 8.48 11.16 13.4ZM27.24 13.4C27.24 17.4 24 20.64 20 20.64C16 20.64 12.76 17.4 12.76 13.4C12.76 9.4 16 6.12 20 6.12C24 6.12 27.24 9.36 27.24 13.4Z" fill="#163861"/><path d="M31.68 26.36C28.24 23.96 24.2 22.68 20 22.68C15.8 22.68 11.76 24 8.32 26.36C5.6 28.28 4 31.32 4 34.68C4 35.12 4.36 35.48 4.8 35.48C5.24 35.48 5.6 35.12 5.6 34.68C5.6 31.88 6.96 29.28 9.24 27.68C12.4 25.48 16.12 24.32 20 24.32C23.88 24.32 27.6 25.48 30.76 27.68C33.04 29.28 34.4 31.88 34.4 34.68C34.4 35.12 34.76 35.48 35.2 35.48C35.64 35.48 36 35.12 36 34.68C36 31.32 34.4 28.28 31.68 26.36Z" fill="#163861"/></svg></i>
                                        
                                        <div class="text">
                                            <p class="title">Minha conta</p>
                                            <p>Olá, <span id="client_name">visitante</span></p>
                                        </div>
                                    </a>
                                    
                                    <div class="hover dis-none">
                                        <ul>
                                            <li>
                                                <a href="/account" title="Entrar / Cadastrar">Entrar / Cadastrar</a>
                                            </li>
                                            
                                            <li>
                                                <a href="/account" title="Minha Conta" class="dis-none">Minha Conta</a>
                                            </li>
                                            
                                            <li>
                                                <a href="/account/orders" title="Meus Pedidos" class="dis-none">Meus Pedidos</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                
                                <li class="search dis-none">
                                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none"><path d="M22.7989 21.8271L17.2096 16.2377C18.7089 14.514 19.6167 12.265 19.6167 9.80687C19.6167 4.39601 15.2156 0 9.8098 0C4.39894 0 0.00292969 4.40111 0.00292969 9.80687C0.00292969 15.2126 4.40404 19.6137 9.8098 19.6137C12.2679 19.6137 14.5169 18.706 16.2406 17.2067L21.83 22.796C21.9626 22.9286 22.1411 23 22.3145 23C22.4879 23 22.6663 22.9337 22.7989 22.796C23.0641 22.5308 23.0641 22.0922 22.7989 21.8271ZM1.37477 9.80687C1.37477 5.15588 5.15881 1.37694 9.8047 1.37694C14.4557 1.37694 18.2346 5.16098 18.2346 9.80687C18.2346 14.4528 14.4557 18.2419 9.8047 18.2419C5.15881 18.2419 1.37477 14.4579 1.37477 9.80687Z" fill="#163861"/></svg></a>
                                </li>
                                
                                <li>
                                    <a href="/checkout" title="Checkout" id="cart">
                                        <i><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none"><path d="M17.95 33.2C15.45 33.2 13.45 35.2 13.45 37.7C13.45 40.2 15.45 42.2 17.95 42.2C20.45 42.2 22.4499 40.2 22.4499 37.7C22.4499 35.2 20.4 33.2 17.95 33.2ZM17.95 40.25C16.55 40.25 15.4 39.1 15.4 37.7C15.4 36.3 16.55 35.15 17.95 35.15C19.35 35.15 20.4999 36.3 20.4999 37.7C20.4999 39.1 19.35 40.25 17.95 40.25Z" fill="#163861"/><path d="M37.1 33.2C34.6 33.2 32.6 35.2 32.6 37.7C32.6 40.2 34.6 42.2 37.1 42.2C39.6 42.2 41.6 40.2 41.6 37.7C41.6 35.2 39.6 33.2 37.1 33.2ZM37.1 40.25C35.7 40.25 34.55 39.1 34.55 37.7C34.55 36.3 35.7 35.15 37.1 35.15C38.5 35.15 39.65 36.3 39.65 37.7C39.7 39.1 38.55 40.25 37.1 40.25Z" fill="#163861"/><path d="M44.5 14.95C44.45 14.95 44.35 14.9 44.3 14.9L11.35 14.4L10.45 11.65C9.84998 9.8 8.09998 8.55 6.14998 8.55H2.79998C2.24998 8.55 1.84998 9 1.84998 9.5C1.84998 10 2.24998 10.5 2.79998 10.5H6.19998C7.29998 10.5 8.29998 11.2 8.64998 12.25L9.79998 15.7L14.75 30.65L15.7 32.65L26.95 31.55L38 30.45C40.35 30.2 42.25 28.5 42.8 26.25L45.25 16.1C45.35 15.6 45 15.05 44.5 14.95ZM40.9 25.8C40.55 27.3 39.3 28.35 37.8 28.5L16.75 30.65L12 16.35L43.05 16.8L40.9 25.8Z" fill="#163861"/></svg></i>
                                        <span>0</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="full_menu">
                        <div class="head dis-none">
                            <a href="/account">Entrar/ Cadastrar</a>
                            
                            <a href="#" class="close">X</a>
                        </div>
                    
                        <div class="content">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="/corte-de-grama">Corte de grama</a>
                                        
                                        <div class="submenu">
                                            <div class="content">
                                                <div class="column">
                                                    <ul>
                                                        <li><a href="/corte-de-grama/cortadores-de-grama">Cortadores de Grama</a></li>
                                                        <li><a href="/poda-e-limpeza/multifuncionais">Multifuncionais</a></li>
                                                        <li><a href="/poda-e-limpeza/rocadeiras">Roçadeiras</a></li>
                                                        <li><a href="/produtos-a-bateria/robo-cortador-de-grama">Robô Cortador de Grama</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            
                                            <div class="image">
                                                <img src="/arquivos/banner-menu-corte-de-grama.jpg" alt="Cortadores de Grama" />
                                                <img src="/arquivos/banner-menu-multifuncionais.jpg" class="dis-none" alt="Multifuncionais" />
                                                <img src="/arquivos/banner-menu-rocadeiras.jpg" class="dis-none" alt="Roçadeiras" />
                                                <img src="/arquivos/menu-robo.jpg" class="dis-none" alt="Robô Cortador de Grama" />
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <a href="/corte-de-madeira">Corte de madeira</a>
                                        
                                        <div class="submenu">
                                            <div class="content">
                                                <div class="column">
                                                    <ul>
                                                        <li><a href="/corte-de-madeira/acessorios-para-arborismo">Acessórios para Arborismo</a></li>
                                                        <li><a href="/corte-de-madeira/ferramentas-para-manejo-florestal">Para Manejo Florestal</a></li>
                                                        <li><a href="/corte-de-madeira/motosserras">Motosserras</a></li>
                                                        <li><a href="/poda-e-limpeza/podadores-de-galhos">Podadores de Galhos</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            
                                            <div class="image">
                                                <img src="/arquivos/banner-menu-para-arborismo.jpg" class="dis-none" alt="Acessórios para Arborismo" />
                                                <img src="/arquivos/banner-menu-para-manejo-florestal.jpg" class="dis-none" alt="Para Manejo Florestal" />
                                                <img src="/arquivos/banner-menu-motosserras.jpg" alt="Motosserras" />
                                                <img src="/arquivos/banner-menu-podadores-de-galhos.jpg" class="dis-none" alt="Podadores de Galhos" />
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <a href="/forca-e-energia">Força e Energia</a>
                                        
                                        <div class="submenu">
                                            <div class="content">
                                                <div class="column">
                                                    <ul>
                                                        <li><a href="/forca-e-energia/geradores">Geradores</a></li>
                                                        <li><a href="/forca-e-energia/motobomba">Motobomba</a></li>
                                                        <li><a href="/forca-e-energia/motores-estacionarios">Motores Estacionários</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            
                                            <div class="image">
                                                <img src="/arquivos/banner-menu-geradores.jpg" alt="Geradores" />
                                                <img src="/arquivos/banner-menu-motobomba.jpg" class="dis-none" alt="Motobomba" />
                                                <img src="/arquivos/banner-menu-motores.png" class="dis-none" alt="Motores Estacionários" />
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <a href="/poda-e-limpeza">Poda e limpeza</a>
                                        
                                        <div class="submenu">
                                            <div class="content">
                                                <div class="column">
                                                    <ul>
                                                        <li><a href="/poda-e-limpeza/aparadores-de-cerca-viva">Aparadores de Cerca Viva</a></li>
                                                        <li><a href="/poda-e-limpeza/multifuncionais">Multifuncionais</a></li>
                                                        <li><a href="/poda-e-limpeza/podadores-de-galhos">Podadores de Galhos</a></li>
                                                        <li><a href="/poda-e-limpeza/rocadeiras">Roçadeiras</a></li>
                                                        <li><a href="/poda-e-limpeza/sopradores">Sopradores</a></li>
                                                        <li><a href="/produtos-a-bateria/robo-cortador-de-grama">Robô Cortador de Grama</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            
                                            <div class="image">
                                                <img src="/arquivos/banner-menu-aparadores-de-cerca-viva.jpg" alt="Aparadores de Cerca Viva" />
                                                <img src="/arquivos/banner-menu-multifuncionais.jpg" class="dis-none" alt="Multifuncionais" />
                                                <img src="/arquivos/banner-menu-podadores-de-galhos.jpg" class="dis-none" alt="Podadores de Galhos" />
                                                <img src="/arquivos/banner-menu-rocadeiras.jpg" class="dis-none" alt="Roçadeiras" />
                                                <img src="/arquivos/banner-menu-sopradores.jpg" class="dis-none" alt="Sopradores" />
                                                <img src="/arquivos/menu-robo.jpg" class="dis-none" alt="Robô Cortador de Grama" />
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <a href="/preparo-e-cultivo">Preparo e Cultivo</a>
                                        
                                        <div class="submenu">
                                            <div class="content">
                                                <div class="column">
                                                    <ul>
                                                        <li><a href="/preparo-e-cultivo/pulverizadores">Pulverizadores</a></li>
                                                        <li><a href="/preparo-e-cultivo/atomizadores">Atomizadores</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            
                                            <div class="image">
                                                <img src="/arquivos/banner-menu-pulverizadores.jpg" alt="Pulverizadores" />
                                                <img src="/arquivos/Atomizador_300x300.jpg" class="dis-none" alt="Atomizadores" />
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <a href="/produtos-a-bateria">Produtos a bateria</a>
                                        
                                        <div class="submenu">
                                            <div class="content">
                                                <div class="column">
                                                    <ul>
                                                        <li><a href="/produtos-a-bateria/linha-ocasional">Linha Ocasional</a></li>
                                                        <li><a href="/produtos-a-bateria/linha-profissional">Linha Profissional</a></li>
                                                        <li><a href="/acessorios/para-produtos-a-bateria">Acessórios Linha Bateria</a></li>
                                                        <li><a href="/produtos-a-bateria/robo-cortador-de-grama">Robô Cortador de Grama</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            
                                            <div class="image">
                                                <img src="/arquivos/banner-menu-linha-ocasional.jpg" alt="Linha Ocasional" />
                                                <img src="/arquivos/banner-menu-linha-profissional.jpg" class="dis-none" alt="Linha Profissional" />
                                                <img src="/arquivos/banner-menu-acessorios-linha-bateria.jpg" class="dis-none" alt="Acessórios Linha Bateria" />
                                                <img src="/arquivos/menu-robo.jpg" class="dis-none" alt="Robô Cortador de Grama" />
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <a href="/construcao">Construção</a>
                                        
                                        <div class="submenu">
                                            <div class="content">
                                                <div class="column">
                                                    <ul>
                                                        <!--<li><a href="/construcao/cortadora-manual">Cortadora Manual</a></li>-->
                                                        <li><a href="/construcao/discos-diamantados">Discos Diamantados</a></li>
                                                        <li><a href="/construcao/ferramentas-diamantadas">Ferramentas Diamantadas</a></li>
                                                    </ul>
                                                </div>
                                                
                                                <div class="column">
                                                    <ul></ul>
                                                </div>
                                            </div>
                                            
                                            <div class="image">
                                                <img src="/arquivos/ids/157388-202-202/k770-husqvarna.jpg" alt="Cortadora Manual" />
                                                <img src="/arquivos/dicos_diamantados.png?v=55546" class="dis-none" alt="Discos Diamantados" />
                                                <img src="/arquivos/ferramenta_diamanta.png?v=55545" class="dis-none" alt="Ferramentas Diamantadas" />
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <a href="/acessorios">Acessórios</a>
                                        
                                        <div class="submenu">
                                            <div class="content">
                                                <div class="column">
                                                    <ul>
                                                        <li><a href="/acessorios/lubrificantes">Lubrificantes</a></li>
                                                        <li><a href="/acessorios/para-arborismo">Para Arborismo</a></li>
                                                        <li><a href="/acessorios/para-manejo-florestal">Para Manejo Florestal</a></li>
                                                        <li><a href="/acessorios/para-motosserras">Para Motosserras</a></li>
                                                        <li><a href="/acessorios/para-multifuncionais">Para Multifuncionais</a></li>
                                                        <li><a href="/acessorios/para-produtos-a-bateria">Para Produtos a Bateria</a></li>
                                                        <li><a href="/acessorios/para-rocadeiras">Para Roçadeiras</a></li>
                                                        <li><a href="/acessorios/recipientes">Recipientes</a></li>
                                                    </ul>
                                                </div>
                                                
                                                <div class="column">
                                                    <ul></ul>
                                                </div>
                                            </div>
                                            
                                            <div class="image">
                                                <img src="/arquivos/banner-menu-lubrificantes.jpg" alt="Lubrificantes" />
                                                <img src="/arquivos/banner-menu-para-arborismo.jpg" class="dis-none" alt="Para Arborismo" />
                                                <img src="/arquivos/banner-menu-para-manejo-florestal.jpg" class="dis-none" alt="Para Manejo Florestal" />
                                                <img src="/arquivos/banner-menu-para-motosserras.jpg" class="dis-none" alt="Para Motosserras" />
                                                <img src="/arquivos/banner-menu-para-multifuncionais.jpg" class="dis-none" alt="Para Multifuncionais" />
                                                <img src="/arquivos/banner-menu-para-produtos-a-bateria.jpg" class="dis-none" alt="Para Produtos a Bateria" />
                                                <img src="/arquivos/banner-menu-para-rocadeiras.jpg" class="dis-none" alt="Para Roçadeiras" />
                                                <img src="/arquivos/banner-menu-recipientes.jpg" class="dis-none" alt="Recipientes" />
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    
                        <div class="footer">
                            <ul>
                                <li>
                                    <a href="https://www.husqvarna.com/br/revendedor/">
                                        <i><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none"><path d="M7.49367 0C4.36919 0 1.84167 2.52752 1.84167 5.65199C1.84167 7.27773 2.65455 8.75106 3.45471 10.1101C4.4327 11.7994 5.6012 13.3743 6.96022 14.7714C7.25234 15.0761 7.73511 15.0761 8.03981 14.7714C9.23372 13.5902 10.2879 12.2566 11.177 10.834C12.1296 9.29708 13.1584 7.51893 13.1584 5.65199C13.1457 2.54022 10.6181 0 7.49367 0ZM7.49367 8.92887C5.6012 8.92887 4.06437 7.39204 4.06437 5.49958C4.06437 3.60711 5.6012 2.07028 7.49367 2.07028C9.38613 2.07028 10.923 3.59441 10.923 5.49958C10.923 7.40474 9.38613 8.92887 7.49367 8.92887Z" fill="white"></path></svg></i>
                                        Encontre Revendedores
                                    </a>
                                </li>
                                
                                <!-- <li>
                                    <a href="">
                                        <i><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none"><g clip-path="url(#clip2)"><path d="M14.9469 4.16559L12.834 2.05261L8.89966 6.02006L11.0129 8.1333L14.9469 4.16559Z" fill="white"></path><path d="M7.00662 9.37377C6.83554 9.78453 7.24799 10.1965 7.65849 10.0249L10.1878 8.71646L8.31387 6.84256L7.00662 9.37377Z" fill="white"></path><path d="M16.8541 2.25872C17.0486 2.06417 17.0486 1.74887 16.8541 1.55432L15.4456 0.145912C15.2511 -0.0486374 14.9358 -0.0486374 14.7412 0.145912L13.5388 1.34836L15.6516 3.4613L16.8541 2.25872Z" fill="white"></path><path d="M1.49414 13.9785H1.99219V16.5019C1.99219 16.7032 2.11333 16.8852 2.29958 16.962C2.4831 17.0386 2.69853 16.9978 2.84237 16.8541L5.71794 13.9785H11.5215C12.3453 13.9785 13.0156 13.3082 13.0156 12.4844V7.53931L11.4446 9.11036C11.3075 9.24758 11.1474 9.35549 10.9679 9.43085L8.11635 10.9094C7.85708 11.0214 7.66253 11.0608 7.46409 11.0608C7.31584 11.0608 7.17291 11.0322 7.03478 10.9902H3.48633C3.21098 10.9902 2.98828 10.7674 2.98828 10.4922C2.98828 10.2168 3.21098 9.99413 3.48633 9.99413H6.00834C5.91003 9.66807 5.95218 9.3149 6.08772 8.99078L7.62466 6.00587C7.66837 5.8955 7.77641 5.73493 7.91311 5.59836L9.49389 4.01758H1.49414C0.670288 4.01758 0 4.68787 0 5.51172V12.4844C0 13.3082 0.670288 13.9785 1.49414 13.9785Z" fill="white"></path></g><defs><clipPath id="clip2"><rect width="17" height="17" fill="white"></rect></clipPath></defs></svg></i>
                                        Blog Husqvarna
                                    </a>
                                </li> -->
                                
                                <li>
                                    <a href="tel:08000229801">
                                        <i><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none"><g clip-path="url(#clip3)"><path d="M11.404 9.92279C10.9139 9.43898 10.3021 9.43898 9.81518 9.92279C9.44374 10.2911 9.0723 10.6594 8.7071 11.034C8.60721 11.137 8.52294 11.1588 8.4012 11.0902C8.16086 10.9591 7.90491 10.853 7.67393 10.7094C6.59706 10.032 5.69499 9.16118 4.89592 8.18107C4.49951 7.69414 4.14679 7.17288 3.90021 6.58606C3.85026 6.46745 3.85963 6.38941 3.95639 6.29265C4.32783 5.9337 4.68991 5.56538 5.05511 5.19706C5.56389 4.68515 5.56389 4.08585 5.05199 3.57083C4.7617 3.27742 4.47141 2.99025 4.18113 2.69685C3.88148 2.3972 3.58495 2.09442 3.28218 1.7979C2.79212 1.32033 2.18034 1.32033 1.6934 1.80102C1.31884 2.16934 0.959886 2.54702 0.57908 2.9091C0.226366 3.24308 0.0484489 3.65198 0.0109926 4.12955C-0.0483132 4.90677 0.14209 5.64029 0.410526 6.35508C0.959886 7.8346 1.79641 9.1487 2.81085 10.3535C4.18113 11.9829 5.81672 13.272 7.73011 14.2022C8.59161 14.6204 9.48432 14.9419 10.4551 14.995C11.123 15.0325 11.7036 14.8639 12.1687 14.3426C12.4871 13.9868 12.846 13.6622 13.1831 13.322C13.6825 12.8163 13.6857 12.2045 13.1894 11.7051C12.5963 11.1089 12.0001 10.5159 11.404 9.92279Z" fill="white"></path><path d="M10.8079 7.43508L11.9596 7.23843C11.7786 6.18029 11.2792 5.22203 10.5207 4.46042C9.71851 3.65823 8.70407 3.15257 7.58663 2.99651L7.42432 4.15453C8.28893 4.27626 9.07551 4.66643 9.69666 5.28758C10.2835 5.8744 10.6674 6.61728 10.8079 7.43508Z" fill="white"></path><path d="M12.6088 2.42842C11.2791 1.09872 9.59667 0.259073 7.73946 0L7.57715 1.15802C9.18153 1.38276 10.6361 2.11004 11.7847 3.25558C12.8741 4.34493 13.5889 5.72145 13.848 7.23531L14.9997 7.03866C14.697 5.28446 13.8698 3.69257 12.6088 2.42842Z" fill="white"></path></g><defs><clipPath id="clip3"><rect width="15" height="15" fill="white"></rect></clipPath></defs></svg></i>
                                        0800 022 9801
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 col-sm-12  col-md-12">
                    <div class="second_menu mobile dis-none">
                        <ul>
                            <li>
                                <a href="/corte-de-grama">Corte de grama</a>
                            </li>
                            
                            <li>
                                <a href="/corte-de-madeira">Corte de madeira</a>
                            </li>
                            
                            <li>
                                <a href="/forca-e-energia">Força e energia</a>
                            </li>
                            
                            <li>
                                <a href="/poda-e-limpeza">Poda e limpeza</a>
                            </li>
                            
                            <li>
                                <a href="/preparo-e-cultivo">Preparo e cultivo</a>
                            </li>
                            
                            <li>
                                <a href="/produtos-a-bateria">Produtos à bateria</a>
                            </li>
                            
                             <li>
                                <a href="/construcao">Construção</a>
                            </li>
                            
                            <li>
                                <a href="/acessorios">Acessórios</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<vtex.cmc:Carrinho />